---
title: The Silk Road
byline: The Silk Road was a Burning Man honorarium <a href="https://www.facebook.com/thesilkroadartproject">art installation led by Julia Logan Trimarco</a>. I did the the structural engineering and some carpentry, designed and built the nighttime lighting electronics and power grid, then worked with a stellar team to install it beside the Temple of Grace at Burning Man 2014.
thumbnail: /images/artwork/silk_road/silk_road_thumbnail.png
section: artwork
---

<div class="artwork row">
  <div class="twelve columns">

    <p>The Silk Road was a Burning Man honorarium <a href="https://www.facebook.com/thesilkroadartproject">art installation led by Julia Logan Trimarco</a>. I did the structural engineering and some carpentry, designed and built the nighttime lighting electronics and power grid, then worked with a stellar team to install it beside the Temple of Grace at Burning Man 2014.</p>

    <p>The installation was a series of arches in the architectural styles of each major city along the ancient silk road. After the festival, the wood was reclaimed to build a house, and the electronics were recycled into other art projects.</p>

  </div>
</div>

<div class="artwork row">
  <div class="twelve columns">
    <a href="/images/artwork/silk_road/Night, The Silk Road.png" 
       rel="lightbox[photos]" 
       title="Night, The Silk Road">
      <img class="framed photo" 
           src="/images/artwork/silk_road/Night, The Silk Road-thumbnail.png" 
           alt="Night, The Silk Road" />
    </a>
  </div>
</div>

<div class="artwork row">

<% ['Night, Eastern arches.jpg', 
     'Night, Western arches.jpg', 
     'Night, 1 Nara.jpg', 
     'Night, 2 Gyeongju.jpg', 
     'Night, 3 Chang\'an.jpg', 
     'Night, 4 Anxi.jpg', 
     'Night, 5 Kashgar.jpg', 
     'Night, 6 Taraz.jpg', 
     'Night, 7 Samarkand.jpg', 
     'Night, 8 Herat.jpg', 
     'Night, 9 Yazd.jpg', 
     'Night, 10 Ctesiphon.jpg', 
     'Night, 11 Palmyra.jpg', 
     'Night, 12 Antioch.jpg', 
     'Night, 13 Rome.jpg'].each_with_index do |image, index|
%>
  <div class="one-third column">
    <a href="/images/artwork/silk_road/<%= image %>" 
       rel="lightbox[photos]" 
       title="<%= image.split(/\./)[0] %>">
      <img class="framed photo" 
           src="/images/artwork/silk_road/<%= image.split(/\./)[0]+'-thumbnail.jpg' %>"  
           alt="<%= image.split(/\./)[0] %>" />
    </a>
  </div>
  <% if index % 3 == 2 %></div><div class="artwork row"><% end %>

<% end %>
</div>

<div class="artwork row">
	<div class="twelve columns">
    <p>
  		<iframe src="//player.vimeo.com/video/105063783" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    
      <iframe src="//player.vimeo.com/video/105063782" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    </p>
  </div>
</div>
