#!/usr/bin/env ruby

# Don’t filter or layout assets
# Sitemap, RSS feed, and htaccess get filtered with erb, but get no layout.
# compile %r{^/(favicon|robots|keybase)/$} do
# end
compile %r{^/(javascript|images|photos)/*} do
end
route %r{^/(javascript|images|photos)/*} do
  item.identifier + ''
end

compile %r{^/(sitemap|feed|card|identity|vitae)} do
  filter :erb
  layout '/default.html'
end
route %r{^/(sitemap|feed|card|identity|vitae)} do
  item.identifier.without_ext + '/index.html'
end



# Redirect /essays to /writing
compile %r{^/essays/*} do
  filter :erb
  layout '/redirect.html'
end
route %r{^/essays/*} do
  item.identifier + ''
end



# Songs get rendered in the music player
compile %r{^/music/*/*} do
  filter :erb
  layout '/player.html'
end
route %r{^/music/*/*} do
  item.identifier.without_ext + '.html'
end



# Everything else gets rendered in the default view
compile %r{/(artwork|books|software|writing)/*} do
  filter :erb
  layout '/default.html'
end
route %r{/(artwork|books|software|writing)/*} do
  # Write item with identifier /foo/ to /foo/index.html
  item.identifier.without_ext + '/index.html'
end



# Layout stylesheet gets rendered through SCSS
compile %r{/stylesheets/layout.scss} do
  filter :sass, syntax: :scss
end
compile %r{/stylesheets/*} do
end
route %r{/stylesheets/*} do
  item.identifier.without_ext + '.css'
end



# Photos have a thumbnail representation
route %r{^/photos/*}, :rep => :thumbnail do
  item.identifier.without_ext + '-thumbnail.' + item.identifier.ext
end



# Catch our landing page
compile %r{^/index.html} do
    filter :erb
    layout '/default.html'
end
route %r{^/index.html} do
  '/index.html'
end



# Finally, catch all of our root HTML content
compile '/*' do
  if item.binary?
  else
    filter :erb
    layout '/default.html'
  end
end

route '*' do
  item.identifier.without_ext + '/index.html'
end

layout '/*', :erb

