--- 
title: The Patterns of Winter
date: 2014-03-03
lede: |
 I want to dream in satellites,<br />
 in technicolor echoes of<br />
 antennas quiet pulse of flight,<br />
 with superphonic clouds above.
---

<%= render '_blog_header_for', :this => @item %>

<p>We heard you standing still aboard<br />
cathedrals of temporal tribes,<br />
but that for which there is no word,<br />
not strength, nor sense, nor skill describes.</p>

<p>So speak to me of gravity,<br />
in fermionic quantum spins.<br />
That geodesic alchemy<br />
arrests like quiet, playful grins.</p>

<p>I'll trace elliptic curves beyond<br />
your phosphorescent, glowing crown.<br />
To which you tenderly respond,<br />
"It's people all the way around."</p>

<p>In our beginning was the word,<br />
along this path of lantern song,<br />
detritus bright and seldom heard,<br />
for not all darknesses are long.</p>

<p>A prayer to my pilgrim clan<br />
that may be clear by now to some:<br />
You lose that which you cling to, and<br />
you keep what you become.</p>

<%= render '_blog_footer_for', :this => @item %>
