--- 
section: artwork
---

<div class="artwork row">
		
		<% children_of(@item).sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}.each do |art| %>	
		<div class="twelve columns">
			<h2 class="artwork"><a href="<%= art.identifier.without_ext %>/index.html"><%= art.attributes[:title] %></a></h2>

			<a href="<%= art.identifier.without_ext %>/index.html">
				<img src="<%= art.attributes[:thumbnail] %>" alt="<%= art.attributes[:title] %>" />
			</a>

			<p><%= art.attributes[:byline] %></p>
		</div>
		<% end %>

</div>
