--- 
title: Books
---

<% book_count = 0 %>
<% @item.children.sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}.each do |book| %>	
	<% book_count = book_count + 1 %>

	<div class='one-third column'>
		<a href="<%= book.identifier %>"><img class="framed" src="<%= book.attributes[:cover]%>" alt="<%= book.attributes[:title] + ' cover image'%>" /></a>
		<h2><%= book.attributes[:title] %></h2>
		<p><%= book.attributes[:byline] %></p>
		<p><a class="button" href="<%= book.identifier %>">Read More</a></p>
	</div>
	
<% end %> 
