--- 
section: books
---

<div class="books row">
	<div class="twelve columns">
		<p>
			I wrote two books in graduate school, published through a local press who is no longer publishing.<br />PDFs of these books are available here to download.
		</p>
	</div>
</div>
<div class="books row">
	<% book_count = 0 %>
<% children_of(@item).sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}.each do |book| %>	
	<% book_count = book_count + 1 %>
	<div class="six columns">
		<h2 class="books">
			<a href="<%= book.identifier.without_ext %>/index.html"><%= book.attributes[:title] %></a>
		</h2>

		<a href="<%= book.identifier.without_ext %>/index.html"><img class="framed" src="<%= book.attributes[:cover]%>" alt="<%= book.attributes[:title] + ' cover image'%>" /></a>
		
		<p>
			<%= book.attributes[:byline] %>
			<br /><br />
			<a href="<%= book.identifier.without_ext %>/index.html">Read more</a>
		</p>
	</div>
<% end %> 
</div>