---
title: Essays
---

<div class="two-thirds column">

	<table>
	<% items.select{|i| i.identifier =~ /\/essays\/.+/}.sort{|a,b| b.attributes[:date] <=> a.attributes[:date]}[0..2].each do |essay| %>
		<tr>
			<th style="width: 140px">
				<h2 style="font-size: 12pt;"><a href="<%= essay.identifier %>"><%= essay.attributes[:title] %></a></h2>
				<div class="date"><%= essay.attributes[:date] %></div>
			</th>
			<td>
				<p><%= essay.attributes[:lede] %></p>
				<p><a href="<%= essay.identifier %>">Continue reading&hellip;</a></p>
			</td>
		</tr>
	<% end %>
	</table>  

</div>

<aside class="one-third column">
	<h3 style="margin-left: 1em;">Looking for something else?</h3>
	<p style="margin: 1.2em">
		When I have enough essays written on a common theme, I edit them into books. If you're looking for more reading, <a href="/books/">my books are free, too</a>.
	</p>
</aside>