<?xml version="1.0"?>
<rss version="2.0">
	<channel>
		<title>Danne Stayskal</title>
		<link>http://danne.stayskal.com/</link>
		<managingEditor>danne@stayskal.com (Danne Stayskal)</managingEditor>
		<webMaster>danne@stayskal.com (Danne Stayskal)</webMaster>
		<description>Danne Stayskal's Writing</description>

		<language>en-us</language>

		<lastBuildDate><%= Time.now.rfc2822 %></lastBuildDate>
		<ttl>60</ttl>

		<generator>http://github.com/linenoise/portfolio/</generator>
		<copyright>Copyright 1998-2014 Danne Stayskal. Unless otherwise noted, all content on this site is available under the Creative Commons BY-NC-SA 3.0 license.</copyright>

		<% items.select{|i| i.identifier =~ /\/writing\/.+/}.sort{|a,b| b.attributes[:date] <=> a.attributes[:date]}[0..39].each do |writing| %>
			<item>
				<title><%= writing.attributes[:title] %></title>
				<link>http://danne.stayskal.com<%= writing.identifier %></link>
				<guid>http://danne.stayskal.com<%= writing.identifier %></guid>
				<description><%= CGI.escapeHTML("<p>#{writing.attributes[:lede]}</p><p><a href=\"http://danne.stayskal.com#{writing.identifier}\">Continue reading&hellip;</a></p>") %></description>
				<pubDate><%= Time.parse(writing.attributes[:date].to_s).rfc2822 %></pubDate>
			</item>
		<% end %>
	</channel>
</rss>