---
title: Music
---
<aside class="one-third column">
  <h3>DJ Sets</h3>
  <p>My DJ sets of electronic music are hosted <a href="https://www.mixcloud.com/DanneStayskal/uploads/">on my MixCloud account</a>.</p>
	<% @item.children.sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}.each do |genre| %>
	<h3><%= genre.attributes[:title] %> music</h3>
	<p><%= genre.attributes[:description] %></p>
	<ul>
		<% genre.children.sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}.each do |song| %>
	    <li><a href="<%= song.path %>" target="player"><%= song.attributes[:title] %></a></li>
		<% end %>
	</ul>
	<% end %>
</aside>
<div class="two-thirds column">
	<iframe name="player"
			src="<%= @item.children.sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}.first.children.sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}.first.path %>">
	</iframe>
</div>
