--- 
title: Photos
---

<div id="content" class="clearfix" style="margin-bottom: 10px;">
<% img_count = 0 %>

<% @item.children
	.find_all{|item| item.path !~ /thumbnail/}
	.sort{|a,b| b.attributes[:taken] <=> a.attributes[:taken]}.each do |img| %>
	<div class="one-third column">
		<% img_count = img_count + 1 %>
		<a href="<%= img.path %>" rel="lightbox[photos]" title="<%= img.attributes[:title] %>"><img class="framed photo" src="<%= img.path.split(/\./)[0]+'-thumbnail.jpg' %>" <% if img_count % 3 == 1%>style="margin-left: 0px;"<% end %> alt="<%= img.attributes[:title] %>"></a>
	</div>
<% end %>

<!-- TODO link to Flickr -->

</div>