---
title: Poetry
---

<div class="two-thirds column">

	<table>
	<% items.select{|i| i.identifier =~ /\/poetry\/.+/}.sort{|a,b| b.attributes[:date] <=> a.attributes[:date]}.each do |poem| %>
		<tr>
			<th style="width: 140px">
				<h2 style="font-size: 12pt;"><a href="<%= poem.identifier %>"><%= poem.attributes[:title] %></a></h2>
				<div class="date"><%= poem.attributes[:date] %></div>
			</th>
			<td>
				<p><%= poem.attributes[:lede] %></p>
				<p><a href="<%= poem.identifier %>">Continue reading&hellip;</a></p>
			</td>
		</tr>
	<% end %>
	</table>  

</div>

<aside class="one-third column">
	<h3 style="margin-left: 1em;">A fun party game</h3>
	<p style="margin: 1.2em">
		<p>Next time you're in a quiet room with a couple of people you like, play the "say something nice about someone" game.</p>

		<p>You start by saying something nice about someone, then that person gets to say something nice about someone <em>else</em>!</p>

		<p>Repeat indefinitely</p>
	</p>
</aside>