--- 
title: Everyone is Connected
date: 2013-05-03
lede: |
 <strong>Measuring Social Geometry with Graph Databases</strong><br /><br /><a href="http://en.wikipedia.org/wiki/Social_geometry">Social Geometry</a> is a system of theory developed by Dr. Black that measures and accounts for different social behaviors. He suggests directly-measurable components of location, distance, and direction. Some of these can be measured or estimated directly: on wealth, demographic, age, language ability, or any other form of social indicator for which data is available. In many cases, though, these data aren’t directly available, and must be approximated through other means.
---

<%= render '/_blog_header_for.*', :this => @item %>

<p>What these data have in common is a focus on relationships between things, rather than focusing on the things themselves. The value of money is relative to who else has what amounts of it; as are the value of vocabulary, and the value of a piece of real estate. These relationships can be easy to measure, though difficult to sort through.</p>

<h4>Defining Graphs</h4>

<p>There’s a mathematical model that fits these kind of data very well. <a href="https://en.wikipedia.org/wiki/Graph_theory">Graphs</a> are representations of things (called “nodes”) and the relationships between them (called “edges”). Some graphs are directed, meaning each edge between nodes represents only a one-way relationship. Some graphs are undirected, meaning that each edge refers to the same relationship between A and B as exists between B and A.</p>

<p align="center">
<img src="/images/graph_drawing.png"><br />
<em>A drawing of a graph, source: <a href="https://en.wikipedia.org/wiki/Graph_theory">Wikipedia</a></em>
</p>

<h4>What does social media have to do with it?</h4>

<p>Social media is full of graphs! When you friend someone on Facebook, that adds an edge to Facebook’s graph connecting your node to your friend’s node. That’s an undirected graph, as both parties have to agree to be friends before a friendship is made. For Twitter, the graph is directed — you can follow someone without them having to agree to follow you back.</p>

<p>Other data sets that work well with graph databases include:</p>
<ul>
	<li><strong>Social Networks</strong>: Any site that connects users implements some kind of graph model.</li>
	<li><strong>Software Version Control</strong>: Git stores every software change as a node in a graph, with edges connecting each change to the change it built upon.</li>
	<li><strong>Geographic route planning</strong>: Streets and the intersections between them are a classic graph data set example.</li>
	<li><strong>Internet routing</strong>: Finding the shortest path between computers on the Internet.</li>
	<li><strong>Wikipedia article links</strong>: Another classic data set used to test graph systems.</li>
</ul>

<p>Knowing there are tools and data available to work with graph-style information, using these tools to measure Social Geometry becomes a question of what measurements are available to work with.  Some social geometry measurements of note include:</p>

<ul>
	<li><strong>Frequency of interactions</strong>: How regularly are two people communicating?</li>
	<li><strong>Shared symbolic expressions</strong>: How are memes propagating through the social network?</li>
	<li><strong>Distribution of Resources</strong>: Who has more or less of any given scarce resource?</li>
	<li><strong>Organization</strong>: How densely or loosely connected are the people in a social network?</li>
</ul>

<h4>How you can use graph databases</h4>

<p>In <a href="http://danne.stayskal.com/books/owning_conversation/">Owning Conversation</a>, the central questions are “What does conversation own?” and, “Who or what, if anything or anyone, owns conversation?” To perform this analysis, I developed a model called Sociolinguistics Space that allows calibrated sociolinguistic measurement between different individuals. The distance between any two words in a person’s vocabulary can be expressed as:</p>

<p align="center">
<img src="/images/multidimensional_pythagorean_theorem.png"><br />
<em>“Multidimensional Pythagorean Distance Derivation” <br />
(source: “Owning Conversation”, Stayskal 2009, p. 109) </em>
</p>

<p>Once these words are measured with a single person, they can be compared between people to answer the shared symbolic expressions question above: how do words and other memes propagate within a social network, and how do those meanings change between individuals?</p>

<p>Second, we can measure <a href="https://en.wikipedia.org/wiki/Clustering_coefficient">clustering coefficients</a> of a network. These measurements tell us how dense or sparse a network is in connections within itself. For an entire graph, the clustering coefficient can be expressed as:</p>

<p align="center">
<img src="/images/clustering_coefficient.png"><br />
<em>Clustering Coefficient Formula: <a href="https://en.wikipedia.org/wiki/Clustering_coefficient">Wikipedia</a></em>
</p>

<p>Finally, we can traverse graphs, whether they’re directed or undirected using <a href="https://en.wikipedia.org/wiki/Dijkstra's_algorithm">Dijkstra’s Algorithm</a>. When your GPS is telling you how to get to a store from your house, this algorithm (or something similar) is generally what it’s using. It tells a program what the shortest path is between nodes that are connected by edges in a graph, and can also be used to measure the asymmetry of needs category of data. Whether we’re talking about cars moving through a city, dollars moving through a corporate-political system, or data packets moving through the network, the math behind it all is remarkably similar.</p>

<p>When dealing with graph data, however, traditional relational databases fall short. Relational databases such as MySQL, Oragle, and PostgreSQL concentrate on working with the data themselves before focusing on the relationships between these data. What’s needed to work with graph data effectively, then, is a new kind of database: the graph database.</p>

<p>Many large web applications rely on graphs to store relationships between data. Facebook even makes their graph data available to developers, through their graph.facebook.com API. Twitter uses graphs to store who follows who, LinkedIn uses graphs to let you know how you know other professionals and what abilities you might have in common with them. These kinds of data can be stored relationally, though as we’ll see shortly, graph databases trump relational databases in speed and versatility.</p>

<p>Graph databases such as <a href="http://www.neo4j.org/">Neo4J</a> are robust and work with a wide variety of systems. They’re seldom used as the only database in a systems architecture, but are well-adapted to integrate with other data systems that might be struggling with large numbers of complicated relationships between other data points.</p>

<p>When building out sample graph systems in both Neo4J and MySQL, we can test the effectiveness of these two data management strategies. Whereas MySQL uses a variant of ANSI 97 standard SQL syntax, Neo4J uses a language called Cipher to query data that’s been stored. When calculating a clustering coefficients for a network <a href="http://docs.neo4j.org/chunked/preview/cypher-cookbook-clustering-coefficient.html">through Cipher</a>, the query is:</p>

<blockquote><code>START a = node(*)<br />
		MATCH (a)--(b)<br />
		WITH a, count(distinct b) as n<br />
		MATCH (a)--()-[r]-()--(a)<br />
		WHERE a.name! = "startnode"<br />
		RETURN n, count(distinct r) as r<br />
</code></blockquote>

<p>Researchers <a href="http://www.google.com/url?q=http%3A%2F%2Fjava.dzone.com%2Farticles%2Fmysql-vs-neo4j-large-scale&sa=D&sntz=1&usg=AFQjCNEbpSZ1xcmQeb9M6TBMudOuHofAnw">regularly run tests</a> between these two common database platforms that we’ve verified through our own systems. For a sample graph of 200,000 nodes, the clustering coefficient on a standard laptop took around 3 hours of CPU time. In Neo4J, the same calculation took 700 milliseconds.</p>

<p>When your systems architecture requires calculations like this on graph data, social or otherwise, graph databases like Neo4J are great architectural components to consider.</p>

<%= render '/_blog_footer_for.*', :this => @item %>
