--- 
title: One Thousand Points of Light
date: 2017-11-05
lede: |
 One Thousand Points of Light is an experiment in textured, familiar, impermanent stories of the senses. These stories create a tapestry of thousands of experiences that shares ephemeral beauty with those around me, reminding us all of the light we carry.
section: writing
---

<div class="writing row">
  <div class="twelve columns">
	<p style="padding-top: 1em;"><%= @item.attributes[:lede] %></p>
	<p>The goal is to get to 1,000 of these. Here's where I'm at, newest on top. Last updated on <%= @item.attributes[:date] %></p>
  </div>
  <div class="twelve columns">

	<style type="text/css">
		.point { padding: 1.3em; border-top: 5px solid #e6e6e6; }
		.time { font-style: oblique; margin-bottom: 1em;}
		.place { font-weight: bold; }
		.mark { padding: 0.8em; font-weight: bold; font-style: oblique; font-size: 150%; }
		.point, .mark { border-top: 5px solid #e6e6e6; }
	</style>    
<!-- 

  	<div class="mark"></div>


  	<div class="point">
  		<div class="time">
  			<div class="place"></div>
  		</div>

  	</div>

  	<div class="point">
  		<div class="time">
  			<div class="place"></div>
  		</div>

  	</div>

  	<div class="point">
  		<div class="time">
  			<div class="place"></div>
  		</div>

  	</div>

  	<div class="point">
  		<div class="time">
  			<div class="place"></div>
  		</div>

  	</div>

  	<div class="point">
  		<div class="time">
  			<div class="place"></div>
  		</div>

  	</div>

  	<div class="point">
  		<div class="time">
  			<div class="place"></div>
  		</div>

  	</div>

  	<div class="point">
  		<div class="time">
  			<div class="place"></div>
  		</div>

  	</div>

  	<div class="point">
  		<div class="time">
  			<div class="place"></div>
  		</div>

  	</div>

  	<div class="point">
  		<div class="time">
  			<div class="place"></div>
  		</div>

  	</div>

  	<div class="point">
  		<div class="time">
  			<div class="place"></div>
  		</div>

  	</div>


 -->




  	<div class="mark">Sixty</div>


  	<div class="point">
  		<div class="time">December, 1994
  			<div class="place">Euless, Texas</div>
  		</div>
  		The pure white stream of milk coming from the cold, black garbage bag you moved to see a bug that scurried underneath it when it snowed and froze in Euless and you were free to explore that new building down the road with no cars out
  	</div>

  	<div class="point">
  		<div class="time">Memorial Day weekend, 2016
  			<div class="place">Crater Lake, Oregon</div>
  		</div>
  		The taco chasing a luchador through an open field, glowstick-yellow spiders sunbathing on the rock where the Willamette begins because that's not the kind of ball we play in this field
  	</div>

  	<div class="point">
  		<div class="time">Winter Solstice, 2013
  			<div class="place">Portland, Oregon</div>
  		</div>
  		The small paper boat carrying a prime number, a small candle, and a weary prayer from the bank of the Willamette towards the new morning
  	</div>

  	<div class="point">
  		<div class="time">Winter, 2002
  			<div class="place">Augusta, Maine</div>
  		</div>
  		The sticky mass of coins you found in the console and gently pick apart at a toll booth in Maine because you spilled coffee in the coin holder again some time ago and forgot this is a road you have to pay to drive on
  	</div>

  	<div class="point">
  		<div class="time">Winter Solstice, 2013
  			<div class="place">Portland, Oregon</div>
  		</div>
  		The small paper boat carrying a prime number, a small candle, and a weary prayer from the bank of the Willamette towards the new morning
  	</div>

  	<div class="point">
  		<div class="time">Finals week, December, 2008
  			<div class="place">Arlington, Texas</div>
  		</div>
  		The moment you wake up, sixteen seconds before sunrise on the roof of the University of Texas linguisics building with some paper, a pencil, a can of corn, a tattered corduroy jacket, a cane fashioned out of an old bedpost, and five dollars to your name
  	</div>

  	<div class="point">
  		<div class="time">August, 2003
  			<div class="place">Bedford, Texas</div>
  		</div>
  		The pleats in your slacks and the cut of your polo shirt as you sit and listen to why you're fired for being gay, before you were even gay, because for whatever reason that is still legal in Texas
  	</div>

  	<div class="point">
  		<div class="time">August, 2003
  			<div class="place">Nashville, Tennessee</div>
  		</div>
  		The sculptures, hot to the touch, and the bus full of tourists assembling to witness the gathering of a tribe at the foot of a redneck reconstruction of an ancient Pagan monument to witness what is most likely a legally recognized ceremony, joining one man and one woman in the bonds of marriage
  	</div>

  	<div class="point">
  		<div class="time">September, 2003
  			<div class="place">Nashville, Tennessee</div>
  		</div>
  		The smell of the muddied carpet below your friend's desk as you wake up from a nap after driving all night once you're informed that you've been selected to participate in a formal academic study of people who see sound and hear light
  	</div>

  	<div class="point">
  		<div class="time">October, 2003
  			<div class="place">Euless, TX</div>
  		</div>
  		The trail of blood leading from the kitchen to the bedroom as you find your father unconscious and convince him to get into the car to go get an MRI after a fall, a choice that saved his life just in time for him to disown yours for being gay.
  	</div>

   	<div class="mark">Fifty</div>

  	<div class="point">
  		<div class="time">August 2009
  			<div class="place">Dallas, Texas</div>
  		</div>
  		The warmly welcome Bismillah of the minaret beneath which you and your fiancee and her Turkish friend gathered to learn Arabic since she grew up in a country where women aren't welcome in mosques and here with with hijabs more openly explore what it means to be free
  	</div>

  	<div class="point">
  		<div class="time">June, 2013
  			<div class="place">Portland, Oregon</div>
  		</div>
  		The impossibly orange sunset over the roof of the skyscraper downtown that your security guard friend let you and your father explore where you tried to tell him what happened and why you went quiet for so long but he couldn't hear you over the warm wind and the mountains in the distance and the traffic down below
  	</div>

  	<div class="point">
  		<div class="time">July, 2004
  			<div class="place">New York City, New York</div>
  		</div>
  		The harmony between two voices the warm and humid night that you and your friend were asked to give her roommate and his new girlfriend some space to themselves at a highrise apartment of brutalist design in Gramercy when you and she instead headed to a park beside her favorite Greek diner to sing opera to each other, realize you know some of the same pieces, hold hands, and spark
  	</div>

  	<div class="point">
  		<div class="time">July, 2004
  			<div class="place">New York City, New York</div>
  		</div>
  		The knowing stares of friends and strangers as you pass through subway terminals and crosswalks wielding an eight-foot transparent plastic rod as a cane because it's getting hard to walk again and sometimes the rod helps you merge into traffic more effectively also
  	</div>

  	<div class="point">
  		<div class="time">October 15th, 2016
  			<div class="place">Seattle, Washington</div>
  		</div>
  		The satisfying clakka clakka clakka of closing twenty browser tabs when you finally figure out how to fix that one thing that's broken, the tests pass and the fix holds and you can now stand up, stretch, eat, or sleep again
  	</div>

  	<div class="point">
  		<div class="time">November 17th, 2013
  			<div class="place">Seattle, Washington</div>
  		</div>
  		The drift of steam rising up through the manhole cover during a cool night on First Hill as you drive a cargo van containing your turtle and all of your possessions to a new home
  	</div>

  	<div class="point">
  		<div class="time">Summer, 1987
  			<div class="place">Austin, Texas</div>
  		</div>
  		The energetic warmth of your uncle's hand as he shows you how to hold your small and open hand flat up to his, as close as you can get without touching
  	</div>

  	<div class="point">
  		<div class="time">April 8th, 2007
  			<div class="place">Jerusalem, Israel</div>
  		</div>
  		The prayers for peace hastily scrawled, carefully wrapped, blessed, and pressed into the wall on Passover Sunday
  	</div>

  	<div class="point">
  		<div class="time">October 6th, 2011
  			<div class="place">Occupy, Portland, Oregon</div>
  		</div>
  		The smell of cup noodles and urine and marijuana and hope when a protest becomes a homeless camp abuzz with the flash of reporters, the hiss of radios, and chant of tribe
  	</div>

  	<div class="point">
  		<div class="time">August 2nd, 2014
  			<div class="place">Yakima, Washington</div>
  		</div>
  		The expanse of meteors and rolling hills and silent radio antennas and broken-down vehicles in the scablands, shrub steppe wailing in the desert wind
  	</div>


  	<div class="mark">Forty</div>


  	<div class="point">
  		<div class="time">March 7th, 2016
  			<div class="place">Haleakalā National Park, Maui, Hawaii</div>
  		</div>
  		The disoriented moment you cross above the cloud line, driving up the side of an active volcano in the middle of the pacific watching for cattle
  	</div>

  	<div class="point">
  		<div class="time">October 28, 2001
  			<div class="place">Atchafalaya Basin Bridge, Louisiana</div>
  		</div>
  		The unexplainable airborn event on Highway 10 between Beuamont and New Orleans involving electrical malfunctions, possible time dilation, and unconventional propulsion
  	</div>

  	<div class="point">
  		<div class="time">August 17, 2001
  			<div class="place">Sparta, South Carolina</div>
  		</div>
  		The warm, damp, rhythmic swell of nighttime tribal dancing and chanting in the tunnel in the key of G beneath an overpass of the Blue Ridge
  	</div>

  	<div class="point">
  		<div class="time">June 29th, 2014
  			<div class="place">Klamath Falls, Washington</div>
  		</div>
  		The third place you've pulled over in the past mile before you hike to a spot that offers privacy, lay out a quilt, and start digging around for condoms
  	</div>

  	<div class="point">
  		<div class="time">August 12th, 2016
  			<div class="place">Issaquah, Washington</div>
  		</div>
  		The crowds of people laying down, speaking six languages to each other, watching for meteors and mosquitos with hot chocolate and warmer company
  	</div>

  	<div class="point">
  		<div class="time">November, 2003
  			<div class="place">Berne, Switzerland</div>
  		</div>
  		The anticipation before sneaking into your girlfriend's Latin lectures to distill German from twin comprehensions of Latin and persistence
  	</div>

  	<div class="point">
  		<div class="time">April 17th, 2006
  			<div class="place">Haifa, Israel</div>
  		</div>
  		The warm, humid salt water smell of the Mediterranean from a concrete balcony partially destroyed by cluster bombs not one month prior
  	</div>

  	<div class="point">
  		<div class="time">March 3rd, 2016
  			<div class="place">Hana, Maui, Hawaii</div>
  		</div>
  		The feldspar-enriched sands where the mountain meets the sea where you perch for one hour with a camera and a notebook searching for turtles and for meaning
  	</div>

  	<div class="point">
  		<div class="time">August, 1999
  			<div class="place">Anahuac, Chihuahua, Mexico</div>
  		</div>
  		The pervasive smell of bleach and corn and jalapeños and the laughter of children wafting through the dining hall at noon at La Casa de la Esperanza
  	</div>

  	<div class="point">
  		<div class="time">August, 1993
  			<div class="place">Tulum, Quintana Roo, Mexico</div>
  		</div>
  		The sangha of reptiles greeting the warm jungle afternoon outside a temple to long-forgotten calendars and gods and their games of stones
  	</div>


  	<div class="mark">Thirty</div>


  	<div class="point">
  		<div class="time">August, 1990
  			<div class="place">Etoile, Texas</div>
  		</div>
  		The cracked, off-white paint on the crooked screen door, humid brass floor vents, and gilded red lighting at your gramma's place by the lake where tomatoes grew in back yard toilets
  	</div>

  	<div class="point">
  		<div class="time">January, 1999
  			<div class="place">Venice, Italy</div>
  		</div>
  		The swarm of pigeons coming for the bag of birdseed your sister just bought as protestors cried out for environmental protection
  	</div>

  	<div class="point">
  		<div class="time">December 29th, 2000
  			<div class="place">Frankfurt, Germany</div>
  		</div>
  		The very kind man who offered you a ride from Idstein back to the airport in Frankfurt with stories of SALT inspections and Ukrainian wanderings
  	</div>

  	<div class="point">
  		<div class="time">December 10th, 2002
  			<div class="place">Wertzville Rd, Enola, Pennsylvania</div>
  		</div>
  		The minister and his wife who gave you a ham and mustard sandwich and a bed at his parsonage when your car got stuck in a ditch during a blizzard a mile outside of Hershey
  	</div>

  	<div class="point">
  		<div class="time">August, 2003
  			<div class="place">Nashville, Tennessee</div>
  		</div>
  		The smell of coolant and smoke and excited green apparitions of hallucinatory sleep deprivation below your friend's desk in the cognitive neuropsychology building at Vanderbilt
  	</div>

  	<div class="point">
  		<div class="time">3:17pm, September 5th, 2016
  			<div class="place">Lakeside, California</div>
  		</div>
  		The moment when you really need to pee, then you pee, then you touch ephemeral enlightenment in the overwhelming absence of desire
  	</div>

   	<div class="point">
  		<div class="time">February 10th, 2010
  			<div class="place">Arlington, Texas</div>
  		</div>
  		The juniper smoke that filled and cleansed your overpopulated apartment as an itinerant Buddhist monk chanted in syntactically precise Tibetan
  	</div>

  	<div class="point">
  		<div class="time">Summer, 1988
  			<div class="place">Galveston, Texas</div>
  		</div>
  		The intermittent, violent fwoosh of natural gas towers punctuating your evening walk along the beach of decaying fish and balls of tar
  	</div>

  	<div class="point">
  		<div class="time">1991
  			<div class="place">Hurst, Texas</div>
  		</div>
  		The scratchy blue and black wool of the garment you're allergic to as you walk down the runway against your will or better judgment, "beauty and the brain" uninententionally intentionally pitted against each other, gradually losing hope that brains win in a beauty pageant of entirely children reliving their parents glory days for them
  	</div>

  	<div class="point">
  		<div class="time">Summer, 1989
  			<div class="place">Etoile, Texas</div>
  		</div>
  		The swarm of flies around the dock just outside Nacogdoches where you caught your first and last fish and were sad for the fish and you were thirsty, too
  	</div>


  	<div class="mark">Twenty</div>


  	<div class="point">
  		<div class="time">July 5th, 2002
  			<div class="place">Columbus, Ohio</div>
  		</div>
  		The picket fence just off High street you were leaning against when you first held hands with a girl you liked who you flirted with in Ancient Greek
  	</div>

  	<div class="point">
  		<div class="time">August, 1992
  			<div class="place">Euless, Texas</div>
  		</div>
  		The brown shag carpet and wood paneling in the living room of your childhood friend who was the first to show you a lava lamp and rock music
  	</div>

  	<div class="point">
  		<div class="time">7:00pm, August 27th, 2015
  			<div class="place">Black Rock City, Nevada</div>
  		</div>
  		The plaintive beep of your very overloaded inverter as it tells you and everyone in earshot that it's also also hot and dusty and hungry and lonely and broken
  	</div>

  	<div class="point">
  		<div class="time">October 9, 2002
  			<div class="place">Boneville, Utah</div>
  		</div>
  		The twinkle of the salt flats at sunrise, driving all night and day and night again through roadside rest stop tumbleweed and heavily caffeinated microsleep through the wilds of a very enchanted circle
  	</div>

  	<div class="point">
  		<div class="time">August, 1992
  			<div class="place">Hurst, Texas</div>
  		</div>
		The dark brown acrylic floor mats in your father's car as he scrambled through The Sex Talk in the car on the way to church in metaphors you'd only come to contextualize and understand sixteen years later
  	</div>

  	<div class="point">
  		<div class="time">9:07pm, June 17th, 2016
  			<div class="place">Salish Sea: 48.739301, -122.907952</div>
  		</div>
  		The pantone 17-1462X sunset between Orcas and Sucia Islands with a boat full of speakers, wet wood, tired hippies, and tireless communications antennas, stopped by the coasties who hesitate to board a boat while being filmed
  	</div>

  	<div class="point">
  		<div class="time">November, 2014
  			<div class="place">Capitol Hill, Seattle</div>
  		</div>
		The smell of mold and the squeak of whiteboards in the condemned house where you entrusted your turtle and your heart to a cabal of scientists and mathematicians
  	</div>

  	<div class="point">
  		<div class="time">October, 2016
  			<div class="place">Under a bridge in Seattle's warehouse district</div>
  		</div>
  		The fire-spinning pump of loudspeakers as ravers dance and musicians play for passing train conductors who stop and hit their horns in time to the beat
  	</div>

  	<div class="point">
  		<div class="time">Summer, 2003
  			<div class="place">Clovis, New Mexico</div>
  		</div>
  		The all-night drive to an enchanted space under a new moon where you turned off your headlights by the side of the road and couldn't tell whether your CD player was broken or whether it was just Bjork
  	</div>

  	<div class="point">
  		<div class="time">Summer, 2004
  			<div class="place">Dallas-Fort Worth International Airport</div>
  		</div>
		The mix of loud chuckles and hushed outrage in the crowd as you welcomed your friend from Tel Aviv with signs reading "lesbians", "monkeys", and "soy" in large, friendly letters
  	</div>


  	<div class="mark">Ten</div>


  	<div class="point">
  		<div class="time">December 21, 2001
  			<div class="place">Hofhelm, Germany</div>
  		</div>
  		The billowing cloud of clutch dust as you figured out how to drive a stick during a snow storm on Autobahn 3 and promptly got lost in the mountains
  	</div>

  	<div class="point">
  		<div class="time">1986
  			<div class="place">Austin, Texas</div>
  		</div>
  		The glow of the lifelike bluish purple entities roaming around the house at night for a full two decades before you knew that synaesthesia is genetic and you're not actually all that crazy or posessed
  	</div>

  	<div class="point">
  		<div class="time">November 2, 2011
  			<div class="place">Occupy, Portland, Oregon</div>
  		</div>
  		The proud grin an artist gives her wheatpaste when walking by on an autumn afternoon in Portland; What do we do when we can't be together? Waiting for something to happen
  	</div>

  	<div class="point">
  		<div class="time">October, 2010
  			<div class="place">Denton, Texas</div>
  		</div>
  		The violent hum adrift from your lovingly macguyvered amplifiers before your last indie rock garage band show in Denton, a girl's nightmare flashlight party held together with old tape and regaining dignity on the Tokyo subway
  	</div>

  	<div class="point">
  		<div class="time">August, 2007
  			<div class="place">Bedford, Texas</div>
  		</div>
  		The friendly, glowing green elves who helped you learn Erlang that one time when your doctor mis-calibrated your insomnia meds
  	</div>

  	<div class="point">
  		<div class="time">June 19th, 2016
  			<div class="place">Orcas Island, Washington</div>
  		</div>
  		The Earth Church mountains from which your tribe invented a new poetry written in colors that don't yet exist
  	</div>

  	<div class="point">
  		<div class="time">October, 2010, 
  			<span class="place">Columbia River Gorge, Oregon</span>
  		</div>
		The hazy drive through night and day and tumbleweeds and night again until the first sight of a whole mountain with trees on the mountain when coming down the Columbia River gorge with a car full of all of your material belongings and a gleam of hope
  	</div>

  	<div class="point">
  		<div class="time">December 2010, 
  			<span class="place">Portland, OR</span>
  		</div>
  		The holy visions of purple cloud respiration and burnt orange pulse dancing around sensory deprivation tank number five reinforcing panpsychism and the network of tribal divinities
  	</div>
  	
  	<div class="point">
  		<div class="time">Columbus Day Weekend, 
  			<span class="place">Portland, OR</span>
  		</div>
  		The smell of home cooking and the congress of fifty introverts over creaking planks, tequila in a candlestick holder, lesbians, monkeys, and soy soy soy in the hope that some day--some glorious day, you will remember which light switch does what in the Saluthaus bathroom
  	</div>
  	
  	<div class="point">
  		<div class="time">February 18th, 2017, 
  			<span class="place">Twelfth and Pine, Seattle</span>
  		</div>
  		The glint of sunset off of skyscrapers, off downtown, off the sound, off the space needle and the Olympics, resting on pillows sharing new vinyl with your sweetie at the end of a day of building Ikea furniture and unpacking timeless traumas
  	</div>


  	<div class="mark">Zero</div>


  </div>
</div>
