--- 
title: Safeguards
date: 2018-07-15
lede: <em>A list of adaptations that help me safeguard against preventable traumatic events</em>
section: writing
---

<div class="writing row">
	<div class="twelve columns">
		<p class="lede"><%= @item.attributes[:lede] %></p>
    
    <p>Own your identity.<br />
    Love yourself unconditionally.<br />
    Take full responsibility for your well-being.<br />
    Accept your own beauty.<br />
    Always be kind.</p>
    
    <p>Do one thing at a time.<br />
    Do the right thing.<br />
    Do the thing right.</p>
    
    <p>What you want matters.<br />
    Let other people own their perspectives.<br />
    Take refuge in impermanence.<br />
    You’re not broken.<br />
    You’re not alone.</p>
    
    <p>Keep boundaries between downtime and social time.<br />
    Keep boundaries between personal and professional time.<br />
    Stay close with curious, kind, honest, compassionate people.<br />
    Nurture, grow, and support your intentional family.<br />
    You are surrounded by people who love you.</p>
    
    <p>Limit contact with those with those who keep poor boundaries.<br />
    Limit contact with those who choose to invalidate your identity.<br />
    Maintain boundaries around anything that affects your body.<br />
    Maintain boundaries against violence.</p>
    
    <p>Critically examine everything, hold fast to the good.<br />
    Question any teaching that can be used for social control.<br />
    Respect any authority that can affect you.<br />
    Hold what you love with both hands.<br />
    Seek truth and speak it clearly.</p>

		<p class="attribution">Written by Danne Stayskal on <%= @item.attributes[:date] %></p>
	</div>
</div>