--- 
title: Your Data Can Improve Your Life
date: 2016-04-08
lede: |
 I've developed a few tools and spreadsheets to help manage my life and its data. These can help with life decisions or sort out complicated feelings on a subject. These can make it easier to live a happy, healthy, and fulfilling life.
---

<%= render '_blog_header_for', :this => @item %>


<h2>Decisions Helper</h2>

<p>This is a tool I use to make decisions about my life: where to live, which schools to attend, what to research, and where to relax. These kinds of decisions usually involve considering a variety of factors between competing options.</p>

<p>Using a statistical tool called <a href="https://en.wikipedia.org/wiki/Root_mean_square">Root-Mean-Square</a> analysis, we can determine which of an array of options should maximize the factors you care about.</p>

<a class="button" href="https://docs.google.com/spreadsheets/d/1m8OfYRWbzFMIcIILreMtK9IVfAaydd9xjc30RNavctE/edit?usp=sharing" target="new">The Decisions Helper Spreadsheet</a>

<p>
	<strong>How to use this:</strong>
	<ol>
		<li>Open the Decisions Helper Spreadsheet</li>
		<li>Under Google Spreadsheets' "File" menu, select "Make a copy..."</li>
		<li>Name it according to the choice you're making. Now you can make changes to your copy.</li>
		<li>Each row is an option you're considering. Fill in the "Option" column based on your options.</li>
		<li>Each column is a factor that's common among those options. Fill in the first row based on what factors you're considering.</li>
		<li>Feel free to add and remove rows and columns as needed.</li>
		<li>For each factor of each option, fill in a numeric value&emdash;one to five, one to ten, one to 100&emdash;how you rank these should be consistent to you and between each option and factor.</li>
		<li>Sort by the "Score" column to find the option that, on average, maximizes the factors you're considering.</li>
	</ol>
</p>


<h2>Emotions and Feelings Helper</h2>

<a href="https://en.wikipedia.org/wiki/Contrasting_and_categorization_of_emotions#Plutchik.27s_wheel_of_emotions"><img src="/images/Plutchik Wheel.png" style="float:right; margin: 4px; padding: 4px; border: 4px solid #BBB; height: 200px; width: 200px;" alt="Plutchik Wheel"/></a>

<p>People are squishy and hard to measure&emdash;even more so our feelings and emotions about things. Those can overlap, conflict, harmonize, and dissonate in ways that make it hard to understand where things are coming from or heading towards.</p>

<p>This spreadsheet helps sort all of that out, using a model of emotions called <a href="https://en.wikipedia.org/wiki/Contrasting_and_categorization_of_emotions#Plutchik.27s_wheel_of_emotions">the Plutchik Wheel</a>.</p>

<a class="button" href="https://docs.google.com/spreadsheets/d/1psFOFRrSfGhsBl_huRd1BdZxZRv1oogXtiZg-D1_Zwc/edit?usp=sharing" target="new">The Emotions and Feelings Helper Spreadsheet</a>

<p>
	<strong>How to use this:</strong>
	<ol>
		<li>Open the Emotions and Feelings Helper Spreadsheet</li>
		<li>Under Google Spreadsheets' "File" menu, select "Make a copy..."</li>
		<li>Name it according to today's date. Now you can make changes to your copy.</li>
		<li>For each thing that you have feelings about, clone the template and name the new worksheet accordingly&emdash;'home', 'work', 'partner', etc.</li>
		<li>Under "Weak", "Baseline", and "Strong", rank your feelings on the matter in a consistent, numeric way. I use a scale of one to ten.</li>
		<li>Add a short description of your feelings on the matter.</li>
		<li>This spreadsheet will calculate the total score for each feeling, and generate the composite values for the derived emotions (e.g. love = trust * joy, optimism = joy * anticipation, etc) so you can sort out where overlapping feelings are coming from.</li>
	</ol>
</p>

<%= render '_blog_footer_for', :this => @item %>
