<div class="content-frame">

  <article class="entry bottom one-fourth">
    <header class="entry-header">
      <h4 class="top underlined">
        <%= @heading_1 %>
      </h4>
    </header>
    <div class="entry-content">
      <p>
        <span class="dropcap-circle colored">1</span>
        <%= @content_1 %>
      </p>
    </div>
  </article>

  <article class="entry bottom one-fourth">
    <header class="entry-header">
      <h4 class="top underlined">
        <%= @heading_2 %>
      </h4>
    </header>
    <div class="entry-content">
      <p>
        <span class="dropcap-circle colored">2</span>
        <%= @content_2 %>
      </p>
    </div>
  </article>

  <article class="entry bottom one-fourth">
    <header class="entry-header">
      <h4 class="top underlined">
        <%= @heading_3 %>
      </h4>
    </header>
    <div class="entry-content">
      <p>
        <span class="dropcap-circle colored">3</span>
        <%= @content_3 %>
      </p>
    </div>
  </article>
  
  <article class="entry bottom one-fourth last">
    <header class="entry-header">
      <h4 class="top underlined">
        <%= @heading_4 %>
      </h4>
    </header>
    <div class="entry-content">
      <p>
        <span class="dropcap-circle colored">4</span>
        <%= @content_4 %>
      </p>
    </div>
  </article>
  
  <div class="divider"></div>

</div>
