<footer class="row">
  <div class="two columns">
    <a href="/">
      <img class="light scheme" src="/images/ligature.png" alt="DS Logo" />
      <img class="dark scheme" src="/images/ligature-light.png" alt="DS Logo" />
    </a>
  </div>
  <div class="ten columns">
    <p>
      <a href="/"><strong>danne.huffaker.us</strong></a>
    </p>
    <p>
      Contact me: <a href="mailto:danne@huffaker.us">danne@huffaker.us</a></a>
    </p>
    <p>
      Copyright &copy; 1996-2024 <a href="/">Danne Huffaker</a>
    </p>
  </div>
</footer>
