<link rel="preload" href="/fonts/NeuronDemiBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Neuron-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronExtraBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronExtraBold-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronHeavy.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronLight.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronLight-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Neuron.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronHeavy-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronBlack.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronBlack-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronBold-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronExtraLight-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronDemiBold-Italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/NeuronExtraLight.woff2" as="font" type="font/woff2" crossorigin>
