    <!-- Meta-Tags -->
    <meta charset="utf-8" />
    <meta name="description" content="Dann Stayskal <%= @item[:title] %>" />

    <!-- Main CSS -->
    <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" />

    <!-- CSS Browser Selector -->
    <script src="/javascripts/css_browser_selector.js"></script>

    <!-- jQuery & Custom Functions -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/script.js"></script>

    <!-- Superfish -->
    <script src="/javascripts/jquery-superfish.js"></script>

    <!-- Contact Form -->
    <script src="/javascripts/jquery-validate-pack.js"></script>
    <script src="/javascripts/jquery-form.js"></script>

    <!-- prettyPhoto -->
    <link href="/plugins/prettyphoto/css/prettyPhoto.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>

    <!--[if lte IE 8]>
      <script src="/javascripts/ie.html5.js"></script>
    <![endif]-->

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://dann.stayskal.com/feed/" />