<header class="main">
  <div class="wrapper">
    <h1 id="logo">
			<a href="/">Dann Stayskal</a>
    </h1>
    <nav class="main">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/media/">Media</a>
          <ul>
            <li><a href="/books/">Books</a>
              <ul>
                <li><a href="/books/owning_conversation/">Owning Conversation</a></li>
                <li><a href="/books/the_visceral_society/">The Visceral Society</a></li>
              </ul>
            </li>
            <li><a href="/music/">Music</a></li>
            <li><a href="/photos/">Photography</a></li>
          </ul>
        </li>
        <li><a href="/software/">Software</a>
          <ul>
            <li><a href="/software/asemica/">Asemica</a></li>
            <li><a href="/software/infoshop/">Infoshop</a></li>
            <li><a href="/software/nagios_plugins/">Nagios Plugins</a></li>
            <li><a href="/software/sevenn/">Sevenn</a></li>
          </ul>
        </li>
        <li><a href="/about/">About</a>
          <ul>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a href="/vitae/">Vitae / Resume</a></li>
			<li><a href="/superpowers/">Superpowers</a></li>
			<li><a href="/calendar/">Calendar</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  
  </div>
  <!-- END .wrapper -->
</header>
