<section id="footerbar">
  <div class="wrapper with-overflow">
    
    
    <div class="primary">
      This site is open source.  Its source code is available at <a href="http://github.com/danndalf/dann.stayskal.com">on github</a>.
    </div>
    
    
    <div class="secondary">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/media/">Media</a></li>
          <li><a href="/software/">Software</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/feed/">RSS Feed</a></li>
        </ul>
      </nav>
    </div>
    
    
  </div>
</section>
