<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <title>Dann Stayskal - <%= @item[:title] %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="<%= @item[:title] %>" />
    <meta name="author" content="Dann Stayskal">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">

    <!-- Alternates -->
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://dann.stayskal.com/feed/" />

    <!-- Shims -->
    <!--[if lt IE 9]>
      <script src="/javascript/html5shim.js"></script>
    <![endif]-->

    <!-- Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="i/mages/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

    <!-- OpenID Delegate -->
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://dannstayskal.myopenid.com/" />
    <link rel="openid2.local_id" href="http://dannstayskal.myopenid.com" />
    <link rel="openid2.provider" href="http://www.myopenid.com/server" />
    <meta http-equiv="X-XRDS-Location" ycontent="http://www.myopenid.com/xrds?username=dannstayskal.myopenid.com" />
  </head>
  <body>
    <div class="container">
      <header class="site clearfix">
        <div class="one-third column">
          <h1><a href="/">Dann Stayskal</a></h1>
        </div>
        <div class="two-thirds column">
          <nav>
            <ul>
              <li><a href="/books/">books</a>
              <li><a href="/music/">music</a></li>
              <li><a href="/software/">software</a></li>
              <li><a href="/photos/">photos</a></li>
              <li><a href="/about/">about</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <% if @item[:title] %>
      <div class="clearfix">
        <h1><%= @item[:title] %></h1>
      </div>
      <% end %>

      <%= yield %>

      <footer class="clearfix">

        <hr />  

        <aside class="one-third column">
          <h4>Contact</h4>
          <p class="vcard">
            <span class="fn">Dann Stayskal</span><br/>
            <span class="adr">
              <span class="locality">Portland</span>,
              <span class="region">OR</span> 
              <br/>
            </span>
            <span class="small spacer"></span>  
            Voice: <span class="phone"><a href="tel:1-503-217-4104">1-503-217-4104</a></span><br/>
            Email: <span class="email"><a href="mailto:dann@stayskal.com">dann@stayskal.com</a></span><br/>
            GPG/PGP: <a href="/crypto/93F904B0.asc">0x93F904B0</a>
          </p>
        </aside>
          
        <aside class="one-third column">
          <h4>Copyright</h4>
          <p>
            <em>&copy; 1998-2011 Dann Stayskal.</em>
          </p>
          <p>
            Unless otherwise noted, all content on this site is available under the Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">BY-NC-SA 3.0</a> license.
            <!-- 
            <rdf:RDF xmlns="http://creativecommons.org/ns#"
             xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                  <License rdf:about="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
                    <permits rdf:resource="http://creativecommons.org/ns#Reproduction"/>
                    <permits rdf:resource="http://creativecommons.org/ns#Distribution"/>
                    <requires rdf:resource="http://creativecommons.org/ns#Notice"/>
                    <requires rdf:resource="http://creativecommons.org/ns#Attribution"/>
                    <prohibits rdf:resource="http://creativecommons.org/ns#CommercialUse"/>
                    <permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks"/>
                    <requires rdf:resource="http://creativecommons.org/ns#ShareAlike"/>
                  </License>
                </rdf:RDF>
             -->
          </p>
        </aside>
          
        <aside class="one-third column">
          <h4>Open Source</h4>
          <p>
            This site is open source.  Its source code is available at <a href="http://github.com/danndalf/portfolio">on github</a>.
          </p>
          <p>
            <a href="/colophon/">Colophon</a>
          </p>
          <p>
            <a href="/feed/">RSS Feed</a>
          </p>
        </aside>

        <aside class="social sixteen columns">
          <h4>Social Networks</h4>
          <a href="https://joindiaspora.com/u/danndalf">Diaspora</a>
          <a href="https://www.facebook.com/dann.stayskal">Facebook</a>
          <a href="https://www.github.com/danndalf/">Github</a>
          <a href="https://plus.google.com/106058554721926025402">Google+</a>
          <a href="https://www.linkedin.com/in/dannstayskal">LinkedIn</a>
          <a href="http://reddit.com/user/danndalf">Reddit</a>
          <a href="https://twitter.com/danndalf">Twitter</a>
        </aside>

      </footer>
    
    </div>

  </body>
</html>