<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <title>Dann Stayskal<% if @item[:title] %> - <%= @item[:title] %><% end %></title>

    <!-- Meta -->
		<meta charset="UTF-8">
		<meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="<%= @item[:title] %>" />
    <meta name="author" content="Dann Stayskal">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightbox.css" />

    <!-- Alternates -->
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://dann.stayskal.com/feed/" />

    <!-- Shims -->
    <!--[if lt IE 9]>
      <script src="/javascript/html5shim.js"></script>
    <![endif]-->

    <!-- Icons -->
    <link rel="shortcut icon" href="/images/dann-stayskal-favicon.ico" />
    <link rel="apple-touch-icon" href="/images/dann-stayskal-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/dann-stayskal-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/dann-stayskal-icon-114x114.png" />

    <!-- JavaScripts -->
    <script src="/javascript/jquery-1.7.2.min.js"></script>
    <script src="/javascript/lightbox.js"></script>

  </head>
  <body>
    <div class="container">
      <% if @item[:title] %>
      <header class="site clearfix">
        <a href="/"><img src="/images/ds_ligature-small.png" alt="Dann Stayskal"></a>
        <h1><%= @item[:title] %></h1>
      </header>
      <% end %>

      <div class="clearfix">
      <%= yield %>
      </div>

      <nav class="clearfix">
        <a class="right" href="/feed/" style="padding-right: 30px;">rss feed</a>
        <a class="right" href="/colophon/">colophon</a>
        <a href="/" style="padding-left: 30px;">home</a>
        <a href="/vitae/">vitae</a>
        <a href="/books/">books</a>
        <a href="/software/">software</a>
        <a href="/music/">music</a>
        <a href="/photos/">photos</a>
        <a href="/essays/">essays</a>
      </nav>

      <footer class="clearfix">

        <aside class="one-third vcard column">
          <p class="vcard">
            <h1><a href="/" class="fn">Dann Stayskal</a></h1>
        </aside>

        <aside class="two-thirds column" style="height: 113px; padding: 0px;">
          <p style="padding-top: 10px">
						Copyright &copy; 1998-2013 Dann Stayskal. Unless otherwise noted, this content is available freely through the Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">BY-NC-SA 3.0</a> license.
          </p>
          <p>
            This site is open source; its source code <a href="http://github.com/danndalf/portfolio">is available on github</a>.
          </p>
          <!-- 
          <rdf:RDF xmlns="http://creativecommons.org/ns#"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <License rdf:about="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
                  <permits rdf:resource="http://creativecommons.org/ns#Reproduction"/>
                  <permits rdf:resource="http://creativecommons.org/ns#Distribution"/>
                  <requires rdf:resource="http://creativecommons.org/ns#Notice"/>
                  <requires rdf:resource="http://creativecommons.org/ns#Attribution"/>
                  <prohibits rdf:resource="http://creativecommons.org/ns#CommercialUse"/>
                  <permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks"/>
                  <requires rdf:resource="http://creativecommons.org/ns#ShareAlike"/>
                </License>
              </rdf:RDF>
           -->
        </aside>

        <aside class="social columns">
          <a href="https://www.facebook.com/dann.stayskal" rel="me"><img src="/images/icons/facebook.png" alt="facebook logo" />facebook</a>
        </aside>
        <aside class="social columns">
          <a href="https://plus.google.com/u/0/114564931610606038420" rel="me"><img src="/images/icons/googleplus.png" alt="google+ logo" />google+</a>
        </aside>
        <aside class="social columns">
          <a href="https://www.linkedin.com/in/dannstayskal" rel="me"><img src="/images/icons/linkedin.png" alt="linkedin logo" />linkedin</a>
        </aside>
        <aside class="social columns">
          <a href="http://pinterest.com/danndalf" rel="me"><img src="/images/icons/pinterest.png" alt="pinterest logo" />pinterest</a>
        </aside>

        <aside class="contact one-third column">
          <a href="mailto:dann@stayskal.com"><img src="/images/icons/mail.png" alt="Email:" />dann@stayskal.com</a>
        </aside>

        <aside class="contact one-third column">
          <a href="https://twitter.com/danndalf" rel="me"><img src="/images/icons/twitter.png" alt="twitter logo" />@danndalf</a>
        </aside>

        <aside class="contact one-third column">
          <a href="tel:1-503-217-4104"><img src="/images/icons/phone.png" alt="Phone:" /> 1-503-217-4104</a>
        </aside>

      </footer>
    
    </div>

  </body>
</html>
