<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <title>Dann Stayskal<% if @item[:title] %> - <%= @item[:title] %><% end %></title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="<%= @item[:title] %>" />
    <meta name="author" content="Dann Stayskal">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightbox.css" />

    <!-- Alternates -->
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://dann.stayskal.com/feed/" />

    <!-- Shims -->
    <!--[if lt IE 9]>
      <script src="/javascript/html5shim.js"></script>
    <![endif]-->

    <!-- Icons -->
    <link rel="shortcut icon" href="/images/dann-stayskal-favicon.ico" />
    <link rel="apple-touch-icon" href="/images/dann-stayskal-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/dann-stayskal-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/dann-stayskal-icon-114x114.png" />

    <!-- JavaScripts -->
    <script src="/javascript/jquery-1.7.2.min.js"></script>
    <script src="/javascript/lightbox.js"></script>

  </head>
  <body>
    <div class="container">
      <% if @item[:title] %>
      <header class="site clearfix">
        <h1><%= @item[:title] %></h1>
      </header>

      <% end %>
      <%= yield %>

      <footer class="clearfix">

        <div class="one-third vcard column">
          <p class="vcard">
            <h1><a href="/" class="fn">Dann Stayskal</a></h1>
            <span class="email"><a href="mailto:dann@stayskal.com">dann@stayskal.com</a></span><br/>
            PGP: <a href="/crypto/93F904B0.asc">0x93F904B0</a><br />
            <span class="phone"><a href="tel:1-503-217-4104">1-503-217-4104</a></span><br/>
          </p>
        </div>

        <aside class="two-thirds column">
          <nav>
            <a href="/vitae/">vitae</a>
            <a href="/activism/">activism</a>
            <a href="/articles/">articles</a>
            <a href="/books/">books</a>
            <a href="/code/">code</a>
            <a href="/music/">music</a>
            <a href="/photos/">photos</a>
          </nav>
        </aside>
        <aside class="two-thirds column">
          <p>
						Copyright &copy; 1998-2012 Dann Stayskal. Unless otherwise noted, this content is available through Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">BY-NC-SA 3.0</a> for those choosing to respect intellectual property. For everyone else, you are already free.
          </p>
          <!-- 
          <rdf:RDF xmlns="http://creativecommons.org/ns#"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <License rdf:about="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
                  <permits rdf:resource="http://creativecommons.org/ns#Reproduction"/>
                  <permits rdf:resource="http://creativecommons.org/ns#Distribution"/>
                  <requires rdf:resource="http://creativecommons.org/ns#Notice"/>
                  <requires rdf:resource="http://creativecommons.org/ns#Attribution"/>
                  <prohibits rdf:resource="http://creativecommons.org/ns#CommercialUse"/>
                  <permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks"/>
                  <requires rdf:resource="http://creativecommons.org/ns#ShareAlike"/>
                </License>
              </rdf:RDF>
           -->
          <p>
            This site is open source; its code is available <a href="http://github.com/danndalf/portfolio">on github</a>.
          </p>
          <p>
            <a href="/sitemap/">sitemap</a> &middot; 
            <a href="/feed/">feed</a> &middot; 
            <a href="/colophon/">colophon</a>
          </p>
        </aside>

        <aside class="social two-thirds column">
          <h4>active social media profiles</h4>

          <br /><br />

          <a href="http://pdx.academia.edu/DannStayskal" rel="me">academia</a>
          <a href="https://coderwall.com/danndalf" rel="me">coderwall</a>
          <a href="http://www.delicious.com/danndalf" rel="me">delicious</a>
          <a href="http://epdx.org/people/3811" rel="me">epdx</a>
          <a href="http://everything2.com/user/dann" rel="me">everything2</a>
          <a href="https://www.facebook.com/dann.stayskal" rel="me">facebook</a>
					<a href="http://www.flickr.com/photos/danndalf" rel="me">flickr</a>

          <br /><br />

          <a href="https://www.github.com/danndalf/" rel="me">github</a>
          <a href="http://www.goodreads.com/user/show/70788-dann-stayskal" rel="me">goodreads</a>
          <a href="https://plus.google.com/u/0/114564931610606038420" rel="me">google+</a>
					<a href="https://www.linkedin.com/in/dannstayskal" rel="me">linkedin</a>
					<a href="http://pinterest.com/danndalf" rel="me">pinterest</a>
          <a href="http://reddit.com/user/danndalf" rel="me">reddit</a>
          <a href="https://twitter.com/danndalf" rel="me">twitter</a>
        </aside>

      </footer>
    
    </div>

  </body>
</html>
