<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <title><% if @item[:title] %><%= @item[:title] %><% end %></title>

		<meta charset="UTF-8">
		<meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="<%= @item[:title] %>" />
    <meta name="author" content="Danne Stayskal">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= render '/_head_feeds.*' %>
    <%= render '/_head_fonts.*' %>
    <%= render '/_head_styles.*' %>
    <%= render '/_head_scripts.*' %>
    <%= render '/_head_icons.*' %>

  </head>
  <body>
    <div class="container">

      <header class="title row">
        <h1><a href="/"><% if @item[:title] %><%= @item[:title] %><% end %></a></h1>
      </header>

      <%= yield %>

      <nav class="row">
        <a class="two columns artwork" href="/artwork/">Artwork</a>
        <a class="two columns books" href="/books/">Books</a>
        <a class="two columns music" href="/music/">Music</a>
        <a class="two columns software" href="/software/">Software</a>
        <a class="two columns vitae" href="/vitae/">Vitae</a>
        <a class="two columns writing" href="/writing/">Writing</a>
      </nav>

      <%= render '/_footer.*' %>

    </div>
  <!--
  <a rel="me" href="https://hachyderm.io/@danne">Mastodon</a>
  <rdf:RDF xmlns="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <License rdf:about="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
          <permits rdf:resource="http://creativecommons.org/ns#Reproduction"/>
          <permits rdf:resource="http://creativecommons.org/ns#Distribution"/>
          <requires rdf:resource="http://creativecommons.org/ns#Notice"/>
          <requires rdf:resource="http://creativecommons.org/ns#Attribution"/>
          <prohibits rdf:resource="http://creativecommons.org/ns#CommercialUse"/>
          <permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks"/>
          <requires rdf:resource="http://creativecommons.org/ns#ShareAlike"/>
        </License>
      </rdf:RDF>
  --> 
</body>
</html>
