<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <title><% if @item[:title] %><%= @item[:title] %><% end %></title>

		<meta charset="UTF-8">
		<meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="<%= @item[:title] %>" />
    <meta name="author" content="Danne Stayskal">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:500|Open Sans|Cutive+Mono">
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightbox.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />

    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://danne.stayskal.com/feed/" />

    <!--[if lt IE 9]>
      <script src="/javascript/html5shim.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/images/danne-stayskal-favicon.ico" />
    <link rel="apple-touch-icon" href="/images/danne-stayskal-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/danne-stayskal-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/danne-stayskal-icon-114x114.png" />

    <script src="/javascript/jquery-1.7.2.min.js"></script>
    <script src="/javascript/lightbox.js"></script>

  </head>
  <body>
    <div class="container" style="margin-top: 1em; margin-bottom: 2em; width: 800px">

      <% if @item[:title] %>
      <header class="title row">
        <h1 <% if @item[:section] %>class="<%= @item[:section] %>"<% end %>>
          <% if @item[:title] %><%= @item[:title] %><% end %>
        </h1>
      </header>
      <% end %>
      
      <%= yield %>

    </div>
  </body>
</html>
