<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <title>Danne Stayskal<% if @item[:title] %> - <%= @item[:title] %><% end %></title>

    <!-- Meta -->
	<meta charset="UTF-8">
	<meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="<%= @item[:title] %>" />
    <meta name="author" content="Danne Stayskal">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightbox.css" />

    <!-- Alternates -->
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://danne.stayskal.com/feed/" />

    <!-- Shims -->
    <!--[if lt IE 9]>
      <script src="/javascript/html5shim.js"></script>
    <![endif]-->

    <!-- JavaScripts -->
    <script src="/javascript/jquery-1.7.2.min.js"></script>
    <script src="/javascript/lightbox.js"></script>

  </head>
  <body style="margin: 0px; padding: 0px;">
	<header>
		<h4>Now playing</h4>
    <p><strong><%= @item[:title] %></strong></p>
		<p>Published <time pubdate="pubdate"><%= @item[:date] %></time></p>
	</header>

	<p><%= @item[:description] %></p>

	<audio controls style="padding: 0.5em 0em 0em 10px; width: 226px;">
		<source src="<%= @item[:ogg_file] %>" />
		<source src="<%= @item[:mp3_file] %>" />
	</audio>
		
	<p>
		<a href="<%= @item[:ogg_file] %>" class="button">Download in OGG Vorbis</a>
		<a href="<%= @item[:mp3_file] %>" class="button">Download in MP3</a>
	</p>
  </body>
</html>
