--- 
title: Conduct of Privilege
date: 2013-09-27
lede: |
 Privilege happens when you don't have to think of something as a problem because it doesn't pose a problem to you, personally. The point of understanding privilege isn't to trigger anger, guilt or shame. Sometimes it does that, and that's totally valid when it happens.</p>
 <p>Rather, understanding privilege helps us acutely see the difference between each others' perspectives on aggressions. This helped the founders of <a href="http://fluxlab.io">Flux, the feminist hackerspace in Portland</a>, structure our code of conduct in ways that level the playing field so anyone can learn and build new technologies, not limited to those with privilege.
---

<%= render '_blog_header_for', :this => @item %>

<h3>Hackerspace Culture</h3>

<p>Hackerspaces and makerspaces are labs generally open to new members where people can come in and make, teach, learn, and break things in a safe environment. These can be great places to get involved in <a href="http://opensource.org/">Open Source Software</a> and <a href="http://www.oshwa.org/">Open Hardware</a> projects.</p>

<p>Women and other non-white-males are severely underrepresented in technology for a wide variety of reasons. Some hackerspaces are starting to account for this. One of these is <a href="http://fluxlab.io">Flux, the anarcha-feminist hackerspace in Portland, Oregon</a>. Full disclosure: The author of this essay is a co-founder of Flux.</p>

<p>This essay is derived from the talk I gave at that space on our opening night. Flux is a place for non-white-males to make, learn, teach, and build things. White males are welcome, and we have a code of conduct that guides our behaviors to be more fair to everyone, including white males and non-white males.</p>

<p>There isn't generally overt hostility at most hackerspaces--but there are lots of subtleties that can occasionally create a less-than-welcoming environment:</p>

	<ul class="top bottom">
		<li><a href="http://www.urbandictionary.com/define.php?term=brogramming">Brogramming</a></li>
		<li><a href="http://www.urbandictionary.com/define.php?term=mansplaining">Mainsplaining</a></li>
		<li>Lack of clear consent boundaries</li>
		<li>Drunkenness</li>
		<li>Sexual and romantic advances</li>
		<li>Surveillance (censorship) cameras</li>
		<li><a href="http://en.wikipedia.org/wiki/Microaggression">Microaggressions</a></li>
		<li>Dismissive or demeaning speech</li>
	</ul>

<p>Most of these aren't issues that work against the interests of white males in technology, and when they <em>do</em> happen, I seldom hear them called out.</p>

<h3>Checking Privilege</h3>

<p>One way to start understanding these issues more clearly is to check the privilege that's involved. Privilege is when you don't have to think of something as a problem because it doesn't pose a problem to you, personally. There are lots of types of privilege--any identifiable social grouping has some associated privileges:</p>

	<ul class="top bottom">
		<li><a href="http://everydayfeminism.com/2013/01/20-examples-of-age-privilege/">age privilege</a> (young, middle-aged, elderly)</li>
		<li>racial privilege (<a href="http://en.wikipedia.org/wiki/White_privilege">white</a><sup>[1]</sup>, <a href="http://en.metapedia.org/wiki/Black_privilege">black</a>, latino)</li>
		<li>gender privilege (<a href="http://itspronouncedmetrosexual.com/2011/11/list-of-cisgender-privileges/">cisgender, transgender, queer)</li>
		<li><a href="http://linguisticpulse.wordpress.com/2013/06/26/language-privilege-what-it-is-and-why-it-matters/">language privilege</a> (english-speaking, spanish, etc)</li>
		<li><a href="http://itspronouncedmetrosexual.com/2012/10/list-of-upperclass-privilege/">class privilege</a> (working class, wealthy, property owning)</li>
		<li><a href="http://solopoly.net/2013/02/05/couple-privilege-having-it-doesnt-necessarily-make-you-an-asshole-but-it-can/">relationship privilege</a> (single, couples, polyamorous)</li>
		<li>sex privilege (<a href="en.wikipedia.org/wiki/Male_privilege">male</a>, <a href="http://www.wihe.com/printBlog.jsp?id=400">female</a>, <a href="http://www.thescavenger.net/isgd/claiming-intersex-privilege-is-transphobic-78345.html">intersex</a>)</li>
		<li>orientation privilege (<a href="http://queersunited.blogspot.com/2008/10/heterosexual-privilege-checklist.html">heterosexual</a>, homosexual, asexual, bisexual)</li>
		<li>relivious privilege (<a href="http://itspronouncedmetrosexual.com/2012/05/list-of-examples-of-christian-privileg/">christian</a>, muslim, jewish, atheist)</li>
		<li><a href="http://everydayfeminism.com/2013/03/19-examples-of-ability-privilege/">ability privilege</a> (able, seeing, hearing)</li>
	</ul>

<p>These aren't things you typically earn or are given<sup>[2]</sup>. Usually, they're constructs that exist due to the cultures we're a part of day to day. Accounting for all of these (not just sex privilege) can help <a href="http://en.wikipedia.org/wiki/Intersectionality#Intersectionality_theory_and_feminist_thought">keep feminisms intersectional</a>. This lets us optimize everyone’s experience, not exclusively that of to women or other non-white-males.</p>

<p class="pullquote">Since language creates culture and privilege largely comes from culture, one way to check privilege is to pay attention to language.</p>

<p>The point of understanding privilege isn't to trigger anger, guilt or shame. Sometimes it does that, and that's totally valid when it happens. Rather, understanding privilege helps us acutely see the difference between each others' perspectives on aggressions. Since <a href="http://dann.stayskal.com/books/owning_conversation/">language creates culture</a> and privilege largely comes from culture, one way to check privilege is to pay attention our language.</p>

<p>The same words can validly mean different things to different people. Stopping to think for a second before speaking can give me space to address a few questions:</p>

	<ul class="top bottom">
		<li>First off, am I expressing my own observation or someone else’s?</li>
		<li>Am I saying "<strong>should</strong>" when we mean "I want"? The answer to this one is usually "yes".</li>
		<li>Am I defending an opinion perspective with words like "actually"? Can I instead react with curiosity?</li>
		<li>Am I glossing over details with phrases like "<strong>it turns out</strong>", "<strong>basically</strong>", "<strong>obviously</strong>", "<strong>essentially</strong>", "<strong>fundamentally</strong>", or "<strong>in fact</strong>"? Can I stop and ask the background of those I'm speaking with?</li>
		<li>Am I dismissing someone else's observations, thoughts, or feelings, particularly with words like "<strong>simply</strong>", "<strong>just</strong>", and "<strong>only</strong>"? Is there a more inclusive way I can phrase this?</li>
		<li>Am I using different words to describe the same traits in different groups? Is one "<strong>bossy</strong>" and the other "<strong>assertive</strong>"? If so, why is that?
	</ul>

<p>Consciously or unconsciously, mistakes happen. I mess up regularly, too, and when I or someone else catches that I've done so, I apologize for any harm it's caused.</p>

<p>Another way to check privilege is to pay attention to our body language in terms of gestures, since the same gestures can mean different things to different people as well.</p>

	<ul class="top bottom">
		<li><strong>Hand gestures</strong> can vary wildly from place to place.</li>
		<li><strong>Hugs</strong> can be a common greeting ritual (e.g. in many parts of Texas) or a sign of close intimacy (e.g. in many parts of Cascadia).</li>
		<li><strong>Inter-personal distance</strong> also varies, with some cultures prefering a foot or two between conversants, and others wanting three or more feet distance</li>
		<li><strong>Kissing</strong> is customary between strangers in some cultures (e.g. the French bise) and a sign of intimacy in other parts of the world</li>
	</ul>

<p>Because some of these gestures' interpretations can vary significantly, I've always found it to be a good idea to ask before initiating any physical contact unless a prior, verbalized, standing consent is in place.</p>

<p class="pullquote left">Rather than treating a person how I'd like to be treated, I aim to treat a person how they'd like to be treated.</p>

<p>Accounting for privilege in these ways flips the <a href="http://en.wikipedia.org/wiki/Golden_Rule">golden rule</a> around, since it can otherwise blindly preserve existing power structures. Rather than treating a person how I'd like to be treated, I aim to treat a person how they'd like to be treated. And if I don't know how to, I ask. This philosophy is the cornerstone of the <a href="fluxlab.io">Flux Hackerspace Code of Conduct</a>.</p>

<h3>Footnotes</h3>

<p><strong>[1]</strong> There are other forms of privilege that are earned or granted, such as class and language privilege. The same analysis works for me as well with these as they do with latent privileges.</p>

<p><strong>[2]</strong> If you haven't read Peggy McIntosh's essay, <a href="http://ted.coe.wayne.edu/ele3600/mcintosh.html"><em>White Privilege: Unpacking the Invisible Knapsack</em></a>, I highly recommend doing so.

<%= render '_blog_footer_for', :this => @item %>
