--- 
title: Machination of the Capitalist State
date: 2013-08-09
lede: |
  A cocktail recipe in the memory of <a href="http://rememberingmatthew.com/">Matthew Schuler</a>.
---

<%= render '_blog_header_for', :this => @item %>

<div style="margin: 0.5em 2em 0.5em 0em; padding: 2em; background: #EEE; border: 2px dashed black">
<ol>
	<li>Procure one double shot glass.</li>
	<li>Fill shot glass with 3 ounces of <a href="http://en.wikipedia.org/wiki/Light_crude_oil">light sweeet crude oil</a>. 
	  <ul>
		  <li>If crude is unavailable, <a href="http://www.amazon.com/Pennzoil-550028510-10W-40-Conventional-Motor/dp/B005F200AI/">10W-40</a> motor oil may be substituted.</li>
			<li>Always use conventional oil, not synthetic.</li>
			<li>To protect local wildlife, take care not to overfill.</li>
	  </ul>
	</li>
	<li>Line the lip of the glass with <a href="https://en.wikipedia.org/wiki/Corexit">Corexit&trade; brand chemical dispersant</a>.</li>
	<li>Garnish with a cold, refreshhing <a href="https://en.wikipedia.org/wiki/Chicken_McNugget">chicken McNugget</a>.</li>
	<li>Serve at gunpoint.</li>
	<li>To prevent invasion by foreign military forces, take care to refrigerate or resposibly dispose of any unconsumed portion.</li>
</ol>

</div>

<br /><br /><br />

<%= render '_blog_footer_for', :this => @item %>
