--- 
title: You Don't Need Permission
date: 2014-05-03
lede: |
 I recently presented a talk on some good ways to use cryptography to improve your life, using some of my recent activisms as an example narrative. This is the essay form of that talk.
---

<%= render '_blog_header_for', :this => @item %>

<h3>Mathew Lippincott's introduction</h3>

<p>Y'all know TINA?  There Is No Alternative.  TINA was what Margaret Thatcher named her rhetorical strategy, and its even more popular now. Trap everyone in a web of mainstream opinions until all the air is sucked out of the discourse. Dann Stayskal is working to make space for people to express alternative future possibilities and get beyond the TINA trap we find ourselves in.</p>

<p>I met Dann for the first time four years ago on a balcony downtown Portland, talking computational linguistics at Cyborg Camp.  We became friends a few months later when he found me hawking toilet propaganda posters the anarchist bookfair.  A committed activist, humanitarian, and friend, I'm proud to introduce Dann Stayskal.</p>

<h3>Transcript of the talk</h3>

<p>We'll meet up every week for upwards of six months leading up to a big protest. Some of us write software, some cook food, and some help fix each other's bikes. Our group of hackers and activists is called the March Hare Collective. And over the past 15 years, we've helped people communicate during political demonstrations such as the G8, NATO, and WTO protests.</p>

<p>By day, I'm an artificial intelligence engineer who used to secure data systems for DOD contractors. Off the clock, I'm also known as Linenoise, one of the ones who keeps March Hare's systems online without being censored by the authorities.</p>

<p>My passion is building things that improve people's lives. For me, this often takes the form of what's called Open Source Software. This is an international movement of people who give away their programs for free, hoping someone else can benefit from it.</p>

<p>Other times, I work with cryptography to help people encode messages or data so that only certain other people can read it. Using cryptography can help improve your life by allowing you to communicate securely. Your phones and laptops are able to run open source cryptography, but these tools don't come preinstalled. You'll have to download and install them yourself.</p>

<p>These are the same open source tools we use within March Hare.</p>

<p>For each protest we assist, we deploy a new crisis map to activists' phones and laptops. This map, which functions much like Google Maps, is based on open source software called Ushahidi and powered by our global network of servers. It integrates data from twitter, text messages, and other media to provide a real-time map of the PULSE of what's happening on the ground.</p>

<p>This includes things like:</p>

<ul>
   <li>Where are the marches starting and ending?</li>
   <li>Where is food not bombs giving people free food and water?</li>
   <li>Where is the national lawyer's guild offering legal advice?</li>
</ul>

<p>So when an activist is hungry or hurt and needs to know where to go for help, our maps will show them. And when police use tear gas and flash grenades to suppress free speech, the world will know.</p>

<p>We had to add some of these features to Ushahidi. We added the ability to say how long something is relevant for, and the ability to understand coordinates given as street names. And since we distribute our talents as freely as our software, none of us in March Hare is a central point of failure. Like our servers, we communicate as peers.</p>

<p>Not all companies are quite so respectful. Wherever you go online these days, you're almost always being tracked. Most sites you visit will record, analyze, and possibly learn from any data you give it. And from your kids' and your parents' data. This is for their benefit, and it might or might not work in your favor.</p>

<p>Companies, governments, and individuals should ask your consent before using your data for their own purposes. Frequently, they don't. If you'd rather them simply not track you in the first place, you can use the same cryptographic tools we use--PGP, Tor, OTR, and full disk encryption. Keeping your data safe isn't a black art any longer: many tools now exist that are actually easy to use! These tools can help you avoid being targeted by advertisers or by governments.</p>

<p>How mineable do you want your data to be? Do you want Google reading each and every one of your emails so they can learn what to advertise to you? If not, you and your organization can use a program called PGP--that's for "Pretty Good Privacy"--to keep your emails safe from prying eyes. A group called The Riseup Collective at riseup.net publishes step-by-step instructions on how to keep your email safe with PGP.</p>

<p>And what about the web? Do you leave your browser history laying out in the open? Do you want your data being collected by every site you visit? Or are you perhaps in a country where Internet access is censored? You can use Tor to anonymously encrypt your web traffic. It allows you to browse anonymously, so long as you don't enter personal information into it.</p>

<p>If Tor didn't still work for anonymity, then the US Government would definitely have found Edward Snowden by now. You can find Tor at torproject.org. When you see an onion, you're in the right place.</p>

</p>Finally, what do you do about all of your documents and photos? If your laptop or phone is lost or stolen, do you want all of that potentially out in the open? If not, you can use full-disk encryption.</p>

<p>Your devices probably support disk encryption already--you can find online the steps you need to take to implement it. And for many devices that still don't have disk encryption built in, you can use a program called Truecrypt.</p>

<p>To encrypt your chats, you can use OTR, and to encrypt your online purchases, you can use Bitcoin. Rather than using Google to search for these tools, use a service called DuckDuckGo.com. They don't track you.</p>

<p>Surveillance is becoming universal. By putting you back in control of your data and how it's used, cryptography can improve the quality of your life. These tools work whether you're being snooped on by your neighbor, by Google, or even by the FBI.</p>

<p>All of the same tools March Hare uses to communicate securely--they're free and open source. You can download them right now if you want to, install them, and start using them.</p>

<p>And if you're raising your kids to be smart and question authority, they need to know about these tools, too. Because some authorities don't like being questioned. People are going to be curious, and staying safer about it can help keep you out of the deafening spotlight.</p>

<p>Over the course of time, all cryptography will eventually be broken. Perfection isn't possible: all data systems will eventually become insecure. So, it's also good practice to erase data you no longer need.</p>

</p>Cryptography is a <strong>powerful</strong> technology. You can use it to help injured activists find medical care or to protect the contents of your email from being used by Google to sell you things that you don't need. It can stop people, companies, and in our case, it can even stop governments from tracking you. It can help you build the world YOU want to see, not just the one that a government or company might want you to believe in.</p>

<p>Cryptography can be revolutionary if that's how you choose to use it.</p>

<p>Revolution is a process, not an event, and that process requires secure communications. But wherever surveillance happens, you see self-censorship which limits both free speech and effective discretion. So when you're free from surveillance, be cautious and know your limits. This can help you know yourself and what you want out of life.</p>

</p>And if you find yourself wanting to help out a group like ours, then take a look at PGP and Tor. Then head down to your local hackerspace. And if there's not one in your town, why not start one?</p>

<p>And if you can't program a computer but can cook or maybe fix a bike, go ahead and come by anyways! At age 34, I STILL don't know how to cook--unless we're talking about hot water and pop tarts. If you want to show solidarity with the people building these kinds of systems, maybe you could offer to help in other ways. With a little mutual aid, we can go a lot further together.</p>

<p>Thank you.</p>




<%= render '_blog_footer_for', :this => @item %>
