/*
  SOME NICE COLORS
  
  RED:       bf0808
  DARK RED:  a50013
  GREEN:     96a65e
  BLUE:      596f80
  DARK BLUE: 3e545c
  PURPLE:    96233f
*/



/* @group Layout Boders
------------------------------------------------------------ */

header.main,
footer.main {
  border-color: #A7C520;
}

/* @end */



/* @group Topbar
------------------------------------------------------------ */

#topbar {
  background-color: #F7F7F7;
  background-image: url(../images/topbar_glow.png);
  background-position: center top;
  background-repeat: repeat-y;
}

#topbar * {
  color: white;
}


/* Slider */

body.with-topbar-content #topbar {
  background-color: #596f80;
  background-image: url(../images/topbar-content_glow.png);
  background-position: center top;
  background-repeat: repeat-y;
}


/* Punchline Text Shadow */

#topbar #punchline {
  text-shadow: -1px -1px rgba(0, 0, 0, .4);
}

/* @end */



/* @group Frontpage Heading
------------------------------------------------------------ */

#welcomebar h2 {
  color: #3e545c;
}

/* @end */



/* @group Links
------------------------------------------------------------ */

h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
a,
a.passive:hover,
.widget ul li a:hover,
button:hover,
a.button:hover, 
input[type=submit]:hover,
input[type=reset]:hover,
.paginator a:hover,
.paginator span:hover,
.paginator .current,
nav.main ul li a:hover,
nav.main > ul > li.current > a,
nav.main ul li.current ul li a:hover {
  color: #3e545c;
}

/* @end */



/* @group Content Elements
------------------------------------------------------------ */


/* Borders */

.entry-content tfoot tr th,
.entry-content tfoot tr td {
  border-top-color: #3e545c;
}

.entry-content table thead tr th {
  border-bottom-color: #3e545c;
}


/* Background */

.highlight,
.dropcap-circle.colored,
.dropcap-square.colored {
  background: #3e545c;
}


/* Colors */

.highlight {
  color: #ffffff;
}

.dropcap.colored {
  color: #3e545c;
}

/* @end */