


/* @group Sansation
------------------------------------------------------------ */

@font-face {
  font-family: 'Sansation';
  src: url('../fonts/sansation/Sansation_Light-webfont-eot.eot');
  src: url('../fonts/sansation/Sansation_Light-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/sansation/Sansation_Light-webfont-woff.woff') format('woff'),
       url('../fonts/sansation/Sansation_Light-webfont-ttf.ttf') format('truetype'),
       url('../fonts/sansation/Sansation_Light-webfont-svg.svg#webfontfyQmQF30') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Titillium
------------------------------------------------------------ */

@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium/TitilliumText22L002-webfont-eot.eot');
  src: url('../fonts/titillium/TitilliumText22L002-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/titillium/TitilliumText22L002-webfont-woff.woff') format('woff'),
       url('../fonts/titillium/TitilliumText22L002-webfont-ttf.ttf') format('truetype'),
       url('../fonts/titillium/TitilliumText22L002-webfont-svg.svg#webfontJx8AgFWg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Thin';
  src: url('../fonts/titillium/TitilliumText22L001-webfont-eot.eot');
  src: url('../fonts/titillium/TitilliumText22L001-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/titillium/TitilliumText22L001-webfont-woff.woff') format('woff'),
       url('../fonts/titillium/TitilliumText22L001-webfont-ttf.ttf') format('truetype'),
       url('../fonts/titillium/TitilliumText22L001-webfont-svg.svg#webfontEtJY7Tfo') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Josefin Sans
------------------------------------------------------------ */

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/josefin/JosefinSansStd-Light-webfont-eot.eot');
  src: url('../fonts/josefin/JosefinSansStd-Light-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/josefin/JosefinSansStd-Light-webfont-woff.woff') format('woff'),
       url('../fonts/josefin/JosefinSansStd-Light-webfont-ttf.ttf') format('truetype'),
       url('../fonts/josefin/JosefinSansStd-Light-webfont-svg.svg#webfontkMUFABmd') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Lobster
------------------------------------------------------------ */

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/lobster/Lobster_1-3-webfont-eot.eot');
  src: url('../fonts/lobster/Lobster_1-3-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/lobster/Lobster_1-3-webfont-woff.woff') format('woff'),
       url('../fonts/lobster/Lobster_1-3-webfont-ttf.ttf') format('truetype'),
       url('../fonts/lobster/Lobster_1-3-webfont-svg.svg#webfontLXW01n4B') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Molengo
------------------------------------------------------------ */

@font-face {
  font-family: 'Molengo';
  src: url('../fonts/molengo/Molengo-Regular-webfont-eot.eot');
  src: url('../fonts/molengo/Molengo-Regular-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/molengo/Molengo-Regular-webfont-woff.woff') format('woff'),
       url('../fonts/molengo/Molengo-Regular-webfont-ttf.ttf') format('truetype'),
       url('../fonts/molengo/Molengo-Regular-webfont-svg.svg#webfontYmv99Chr') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Perspective Sans
------------------------------------------------------------ */

@font-face {
  font-family: 'Perspective Sans';
  src: url('../fonts/perspective/persans-webfont-eot.eot');
  src: url('../fonts/perspective/persans-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/perspective/persans-webfont-woff.woff') format('woff'),
       url('../fonts/perspective/persans-webfont-ttf.ttf') format('truetype'),
       url('../fonts/perspective/persans-webfont-svg.svg#webfontZvYKLeck') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Daniel
------------------------------------------------------------ */

@font-face {
  font-family: 'Daniel';
  src: url('../fonts/daniel/daniel-webfont-eot.eot');
  src: url('../fonts/daniel/daniel-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/daniel/daniel-webfont-woff.woff') format('woff'),
       url('../fonts/daniel/daniel-webfont-ttf.ttf') format('truetype'),
       url('../fonts/daniel/daniel-webfont-svg.svg#webfontqMGtI1M3') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Pacifico
------------------------------------------------------------ */

@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/pacifico/Pacifico-webfont-eot.eot');
  src: url('../fonts/pacifico/Pacifico-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/pacifico/Pacifico-webfont-woff.woff') format('woff'),
       url('../fonts/pacifico/Pacifico-webfont-ttf.ttf') format('truetype'),
       url('../fonts/pacifico/Pacifico-webfont-svg.svg#webfontk7xyGDbU') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Quicksand
------------------------------------------------------------ */

@font-face {
  font-family: 'Quicksand Light';
  src: url('../fonts/quicksand/Quicksand_Light-webfont-eot.eot');
  src: url('../fonts/quicksand/Quicksand_Light-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/quicksand/Quicksand_Light-webfont-woff.woff') format('woff'),
       url('../fonts/quicksand/Quicksand_Light-webfont-ttf.ttf') format('truetype'),
       url('../fonts/quicksand/Quicksand_Light-webfont-svg.svg#webfontbpxkzhcL') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand Book';
  src: url('../fonts/quicksand/Quicksand_Book-webfont-eot.eot');
  src: url('../fonts/quicksand/Quicksand_Book-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/quicksand/Quicksand_Book-webfont-woff.woff') format('woff'),
       url('../fonts/quicksand/Quicksand_Book-webfont-ttf.ttf') format('truetype'),
       url('../fonts/quicksand/Quicksand_Book-webfont-svg.svg#webfontaTtWxJ4l') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Greyscale
------------------------------------------------------------ */

@font-face {
  font-family: 'Greyscale';
  src: url('../fonts/greyscale/Greyscale_Basic_Regular-webfont-eot.eot');
  src: url('../fonts/greyscale/Greyscale_Basic_Regular-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/greyscale/Greyscale_Basic_Regular-webfont-woff.woff') format('woff'),
       url('../fonts/greyscale/Greyscale_Basic_Regular-webfont-ttf.ttf') format('truetype'),
       url('../fonts/greyscale/Greyscale_Basic_Regular-webfont-svg.svg#webfontXooOr1Tx') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Vollkorn
------------------------------------------------------------ */

@font-face {
  font-family: 'Vollkorn';
  src: url('../fonts/vollkorn/Vollkorn-Regular-webfont-eot.eot');
  src: url('../fonts/vollkorn/Vollkorn-Regular-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/vollkorn/Vollkorn-Regular-webfont-woff.woff') format('woff'),
       url('../fonts/vollkorn/Vollkorn-Regular-webfont-ttf.ttf') format('truetype'),
       url('../fonts/vollkorn/Vollkorn-Regular-webfont-svg.svg#webfontcWEdPXpZ') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */



/* @group Marketing
------------------------------------------------------------ */

@font-face {
  font-family: 'Marketing';
  src: url('../fonts/marketing/MarketingScript-webfont-eot.eot');
  src: url('../fonts/marketing/MarketingScript-webfont-eot.eot?iefix') format('eot'),
       url('../fonts/marketing/MarketingScript-webfont-woff.woff') format('woff'),
       url('../fonts/marketing/MarketingScript-webfont-ttf.ttf') format('truetype'),
       url('../fonts/marketing/MarketingScript-webfont-svg.svg#webfontblVIzv19') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @end */


