/*

INTEGRATED FONTS

- Sansation, sans-serif;
- Titillium, sans-serif;
- 'Titillium Thin', sans-serif;
- 'Lobster Regular', sans-serif;
- 'Josefin Sans', sans-serif;
- Lobster, sans-serif;
- Molengo, sans-serif;
- 'Perspective Sans', sans-serif;
- Daniel, sans-serif;
- Pacifico, sans-serif;
- 'Quicksand Light', sans-serif;
- 'Quicksand Book', sans-serif;
- Greyscale, sans-serif;
- Vollkorn, sans-serif;
- Marketing, sans-serif;


SYSTEM FONTS

- 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif
- 'Helvetica Neue', Helvetica, Arial, sans-serif
- Arial, sans-serif
- Verdana, sans-serif
- Tahoma, Geneva, Arial, sans-serif
- 'Trebuchet MS', Arial, sans-serif
- 'Myriad Pro', Myriad, Arial, sans-serif
- 'Comic Sans MS', cursive, sans-serif
- 'Palatino Linotype', 'Book Antiqua', Palatino, serif
- 'Times New Roman', Times, serif
- Georgia, serif

*/



/* @group Body
------------------------------------------------------------ */

body,
input,
textarea,
input[type=checkbox] + label,
input[type=radio] + label,
blockquote p.source {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, sans-serif;
	font-size: 13px;
}

/* @end */



/* @group Navigation
------------------------------------------------------------ */

nav.main > ul > li > a {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, sans-serif;
  font-size: 1.0em;
}

/* @end */



/* @group Punchline
------------------------------------------------------------ */

#topbar #punchline {
  font-family: Sansation, sans-serif;
}

/* @end */



/* @group Headings
------------------------------------------------------------ */

h2, h3, h4 {
  font-family: Sansation, sans-serif;
}

/* @end */