/*
* layout.css
* Copyright 2011-2013 Dann Stayskal <dann@stayskal.com>
* For http://dann.stayskal.com/
*
* License: Creative Commons BY-NC-SA 3.0 US
* http://creativecommons.org/licenses/by-nc-sa/3.0/us/
*/


/* Table of Contents
==================================================
    # Font Faces
    # Typography
    # Header
    # Page Styles
        # Blog
        # Vitae
    # Navigation 
    # Footer
    # Media Queries
        # Netbooks and Tablets (landscape)
        # Tablets (portrait) and Phones (landscape)
        # Phones (portrait)
        # Printers
    # References
        # Pantone Spring-Summer 2013 palette
*/


/* Fonts (@font-face declarations by FontSquirrel)
================================================== */

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont-eot.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont-woff.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular-webfont-ttf.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont-svg.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/open-sans/OpenSans-Bold-webfont-eot.eot');
    src: url('../fonts/open-sans/OpenSans-Bold-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont-woff.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Bold-webfont-ttf.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont-svg.svg#OpnSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed Light';
    src: url('../fonts/open-sans/OpenSans-CondLight-webfont-eot.eot');
    src: url('../fonts/open-sans/OpenSans-CondLight-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-CondLight-webfont-woff.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-CondLight-webfont-ttf.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-CondLight-webfont-svg.svg#OpnSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('../fonts/open-sans/OpenSans-CondBold-webfont-eot.eot');
    src: url('../fonts/open-sans/OpenSans-CondBold-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-CondBold-webfont-woff.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-CondBold-webfont-ttf.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-CondBold-webfont-svg.svg#OpnSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('../fonts/open-sans/OpenSans-Italic-webfont-eot.eot');
    src: url('../fonts/open-sans/OpenSans-Italic-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Italic-webfont-woff.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Italic-webfont-ttf.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Italic-webfont-svg.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/inconsolata/Inconsolata-webfont-eot.eot');
    src: url('../fonts/inconsolata/Inconsolata-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata/Inconsolata-webfont-woff.woff') format('woff'),
         url('../fonts/inconsolata/Inconsolata-webfont-ttf.ttf') format('truetype'),
         url('../fonts/inconsolata/Inconsolata-webfont-svg.svg#Inconsolata') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Typography
================================================== */

body, p, tr, th, td      { color: #444; font-family: 'Open Sans Regular'; }
em                                              { font-family: 'Open Sans Italic'; }
strong, h1, h2, h3, h4, h5                                          { font-family: 'Open Sans Bold'; }
p                                               { margin: 10px 10px 20px 10px; padding: 0px; }
a, a:active, a:visited, a:hover                 { color: #104577; text-decoration: none; }
a.button, a.button:hover                        { color: black; background: #eee;}
h1, h2, h3, h4, h5                              { margin-left: 10px; font-family: 'Open Sans Bold'; }
h1                                              { font-size: 180%; margin-bottom: 0px; }
h2                                              { font-size: 150%; }
h3                                              { font-size: 130%; font-family: 'Open Sans Italic'; }
h4                                              { font-size: 130%; }
h5                                              { font-size: 100%; }
ul                                              { list-style: disc outside; margin-left: 30px; }
table                                           { margin-left: 10px; }
td, th                                          { padding: 10px; }
th                                              { text-align: right; font-family: 'Open Sans Bold'; }
pre, tt                                         { font-family: 'Inconsolata'; font-size: 115%;}
p.pullquote                                     { float: right; border-width: 10px 0px; border-color: #333; border-style: solid; margin: 0.5em 0em 2em 2em; padding: 0.75em 0em; font-weight: bold; font-size: 130%; font-color: black; width: 300px;}
p.pullquote.left                                { float: left; border-width: 10px 0px; border-color: #333; border-style: solid; margin: 0.5em 2em 2em 0em; padding: 0.75em 0em; font-weight: bold; font-size: 130%; font-color: black; width: 300px;}
th                                              { white-space: nowrap; }
sup                                             { vertical-align: super; font-size: 70%; }

/* Header 
================================================== */
header.site h1                                  { font-size: 16pt; line-height: 24pt; margin-left: 0px; margin-bottom: 5px; padding-bottom: 0px; border-bottom: 4px solid #BDD74B; font-family: 'Open Sans Bold'; }
header.site img                                 { float: right; position: relative; top: 4px; }
header.site                                     { padding: 25px 0px 0px 0px; margin: 20px 10px 20px 10px; }


/* Page Styles
================================================== */

.framed                                         { border: 1px solid #AAA; margin: 5px; padding: 5px; }
.alignright                                     { float: right; }
.alignleft                                      { float: left; }
aside.widget                                    { background: #EEE; padding: 5px 0px 5px 0px; margin-bottom: 10px; }
p.note, p.notice                                { border: 2px solid #999; background: #eee; padding: 10px; }
aside                                           { background: #e4f39b; margin-bottom: 20px !important; padding: 10px 0px; }

.intro                                          { padding: 0px; margin-bottom: 20px !important; }
.intro h2                                       { margin: 10px 0px 10px 0px; font-size: 12pt; line-height: 1em; }
.intro p                                        { font-family: 'Open Sans Regular'; padding: 0px; margin: 0px 10px 0px 0px; font-size: 12pt; }
.intro p em                                     { font-family: 'Open Sans Bold'; font-style: normal; }
.small.intro                                    { height: 152px; }
.intro ul                                       { margin-top: 2em; }

iframe                                          { height: 400px; width: 400px; }
audio                                           { padding: 0.5em 0em 0em 10px; width: 226px; }

/* Page Styles: Blog
================================================== */

article.blog h3                                 { margin-left: 0px; }
article.blog div a.button                       { margin: 0px 0px 0px 10px; }
article.blog p                                  { margin-bottom: 1em; margin-left: 0px; }


/* Page Styles: Vitae
================================================== */

.vitae div.vevent                               { margin-top: 1em; }
.vitae div.vevent .dates                        { float: right; text-align: right; color: gray; font-weight: bold; }
.vitae div.vevent .location, 
.vitae div.vevent .dates                        { font-weight: bold; }
.vitae .experience div.vevent .summary          { font-weight: bold; color: black; }
.vitae div.vevent .org													{ margin-bottom: 1em; }
.vitae div.vevent .organization-name						{ font-size: 1.25em; }
.vitae div.vevent .subtitle                     { color: #555; font-weight: normal; }
.vitae div.progress-container                   { border: 1px solid #ccc; width: 100px; margin: 2px 5px 2px 0; padding: 1px; float: left; background: white; }
.vitae div.progress-container > div             { background-color: #596f80; height: 12px }
.vitae td.alt                                   { width: 110px; }
.vitae .technologies                            { color: gray; }
.vitae div.responsibilities                     { margin: 1em 0em; }
.vitae div.education, .vitae h1, .vitae h2, 
.vitae h3, .vitae h4, .vitae p, .vitae table    { margin-top: 1em; margin-left: 0px; }
.vitae h1                                       { margin-top: 0px; }
.vitae div.experience .vevent,
.vitae div.labs .vevent,
.vitae div.volunteer .vevent                    { margin-top: 2em; margin-left: 0px; }
.vitae td, .vitae th                            { padding: 3px; }


/* Navigation
================================================== */

nav                                             { font-family: 'Open Sans Bold'; background-color: #A6CFE5; padding: 0px; margin: 0em 10px 20px 10px; }
nav a, nav a:visited                            { float:left; padding: 20px; text-decoration: none; letter-spacing: 1px; color: black; display: block; }
nav a:hover, nav a:focus                        { outline: 0; color: black; background-color: #34A8B7; }
nav a.right                                     { float:right; }


/* Footer
================================================== */

footer                                          { margin: 10px 0px 0px 0px; padding-bottom: 10px; }
footer aside                                    { text-align: center; padding: 10px 0px; }
footer aside p                                  { margin: 10px 20px; }

footer .contact, footer .social                 { height: 60px; padding: 0px; background-color: #F5DC8D; }
footer .social                                  { width: 140px; text-align: left; font-family: 'Open Sans Regular'; font-style: normal; font-size: 12pt; }
footer .social img                              { vertical-align:middle; padding: 0px 10px 0px 5px; }
footer .social a, footer .social a:visited      { display: block; color: black; font-size: 11pt; padding: 14px 10px 14px 10px; margin: 0px; text-decoration: none; }
footer .social a:hover, 
footer .social a:active,
footer .contact a:hover, 
footer .contact a:active                        { background-color: #F7BB30; color: black; }
footer .contact                                 { text-align: left; font-family: 'Open Sans Bold'; font-style: normal; font-size: 12pt; }
footer .contact a                               { display: block; padding: 14px 10px 14px 14px; color: #444; margin: 0px; text-decoration: none; font-size: 12pt;}
footer .contact img                             { vertical-align:middle; padding-right: 10px;}

footer aside.copyright                          { height: 113px; padding: 0px; }

footer aside.vcard                              { height: 178px; text-align:center; line-height: 2em; margin-top: 0px; padding-top: 0px; background-color: #FFF; }
footer aside.vcard h1                           { margin: 25px 0px 0px 0px; padding: 0px; }
footer aside.vcard h1 a                         { background-image: url("/images/logo-vertical.png"); background-position: center center; background-repeat: no-repeat; display: block; height: 151px; width: 230px; margin-bottom: 40px; margin-left: 32px; text-indent: -9999px; }
footer aside.vcard p                            { font-family: 'Open Sans Bold'; padding: 0px; margin: 0px; }


/* Media Queries: Netbooks and Tablets (landscape)
================================================== */
@media only screen and                          (max-width: 959px) {  }
@media only screen and (min-width: 768px) and   (max-width: 959px) { 

    /* Show *slightly* smaller thumbnails so we don't break the smaller grid */
    img.photo                                   { height: 117px; width: 200px; margin-left: 10px;}

    /* Narrow links in the nav bar so they don't wrap around the screen */
    nav a, nav a:visited                        { padding: 10px; }

    /* Scoot the logo over a smidge so it doesn't bleed over into the gutter */
    footer aside.vcard h1 a                     { margin-left: 2px; }

    /* Make the copyrighy area tall enough to contain reasonably typeset text */
    footer aside.copyright                      { height: 130px; } 

    /* Stretch the social links in the footer to full-width */
    footer .social                              { width: 172px; }

    /* Narrow the audio player */
    iframe                                      { height: 400px; width: 236px; }
}


/* Media Queries: Tablets (portrait) and Phones (landscape)
================================================== */
@media only screen and                          (max-width: 767px) {

    /* Make the navigational links full-width */
    nav                                         { margin: 20px 0px; }
    nav a                                       { float: left; clear:both; width:360px; padding: 10px 30px;}

    /* Scoot the logo over a smidge so it doesn't bleed over into the gutter */
    footer aside.vcard h1, 
    footer aside.vcard h1 a                     { margin: 20px auto; }

    /* Make the copyrighy area tall enough to contain reasonably typeset text */
    footer aside.copyright                      { height: 154px; }

    /* Make pull quotes full-width */
    p.pullquote                                 { float: left; clear: both; margin: 1em 1em 1em 10px; }

    /* Narrow the small columns by 10px */
    div.column, div.columns, 
    div.one-third.column, 
    div.two-thirds.column, div.small.column     { margin: 0px 10px; width: 408px; border-bottom: 0px; }

    /* Narrow the audio player */
    iframe                                      { height: 400px; width: 236px; }

}
@media only screen and (min-width: 480px) and   (max-width: 767px) { }


/* #Media Queries: Phones (portrait)
================================================== */
@media only screen and                          (max-width: 479px) {

    /* Remove the left and right margins from the site header */
    header.site                                 { margin-left: 0px; margin-right: 0px; }

    /* Make the navigational links full-width */
    nav                                         { margin: 20px 0px; }
    nav a                                       { float: left; clear:both; width:240px; padding: 10px 30px;}

    /* Remove the nowrap attribute from table headers */
    th                                          { white-space: normal; text-align: left; padding: 0px 0px 20px 0px; }
    th h2                                       { margin-left: 0px; }
    /* Hide table data elements (since links are in the headers) */
    td                                          { display: none !important; }

    /* Narrow the small columns by 10px */
    div.column, div.columns, 
    div.one-third.column, 
    div.two-thirds.column, div.small.column     { margin: 0px 10px; width: 288px; border-bottom: 0px; }

    /* Make the copyrighy area tall enough to contain reasonably typeset text */
    footer aside.copyright                      { height: 174px; }

}

/* #Media Queries: Printers
================================================== */
@media print {

    /* Hide the headers and footers */
    header.site, footer, nav                     { display: none !important; }
		div.vitae																		 { width: 100%; }

}

/* #References: Pantone Spring-Summer 2013 Palette 
==================================================
    # Monaco Blue:        #104577 ;
    # Dusk Blue:          #7CB5D2 ;
    # Emerald:            #18A68D ;
    # Grayed Jade:        #96CEB7 ;
    # Linen:              #F8DFC8 ;
    # Poppy Red:          #AC2324 ;
    # African Violets:    #BB94B7 ;
    # Tender Shoots:      #BDD74B ;
    # Lemon Zest:         #FCE05E ;
    # Nectarine:          #F68D51 ;
*/

