/*
* layout.css
* Copyright 2011, Dann Stayskal
* http://dann.stayskal.com/ and dann@stayskal.com
* Free to use under the Creative Commons BY-NC-SA license
* http://creativecommons.org/licenses/by-nc-sa/3.0/us/
*/


/* Table of Contents
==================================================
    #Font Faces
    #Typography
    #Header
    #Navigation 
    #Page Styles
        #Blog
        #Books
        #Music
        #Software
        #Photos
        #About
    #Footer
    #Media Queries
        #Netbooks
        #Tablets
        #Phones
        #Printers
*/


/* #Fonts (@font-face declarations by FontSquirrel)
================================================== */

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont-eot.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont-woff.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular-webfont-ttf.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont-svg.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/open-sans/OpenSans-Bold-webfont-eot.eot');
    src: url('../fonts/open-sans/OpenSans-Bold-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont-woff.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Bold-webfont-ttf.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont-svg.svg#OpnSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('../fonts/open-sans/OpenSans-Italic-webfont-eot.eot');
    src: url('../fonts/open-sans/OpenSans-Italic-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Italic-webfont-woff.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Italic-webfont-ttf.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Italic-webfont-svg.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/inconsolata/Inconsolata-webfont-eot.eot');
    src: url('../fonts/inconsolata/Inconsolata-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata/Inconsolata-webfont-woff.woff') format('woff'),
         url('../fonts/inconsolata/Inconsolata-webfont-ttf.ttf') format('truetype'),
         url('../fonts/inconsolata/Inconsolata-webfont-svg.svg#Inconsolata') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* #Typography
================================================== */

body, h1, h2, h3, h4, h5, p, tr, th, td         { font-family: 'Open Sans Regular'; }
em                                              { font-family: 'Open Sans Italic'; }
strong                                          { font-family: 'Open Sans Bold'; }
p                                               { margin: 10px 10px 20px 10px; padding: 0px; }
a, a:active, a:visited, a:hover                 { color: #87A500; text-decoration: none; }
a:hover                                         { color: #A7C520; }
a.button, a.button:hover                        { color: black; background: #eee;}
h1, h2, h3, h4, h5                              { margin-left: 10px; font-family: 'Open Sans Bold'; }
h1                                              { font-size: 180%; margin-bottom: 0px; }
h2                                              { font-size: 150%; }
h3                                              { font-size: 130%; font-family: 'Open Sans Italic'; }
h4                                              { font-size: 130%; }
h5                                              { font-size: 100%; }
ul                                              { list-style: disc outside; margin-left: 30px; }
table                                           { margin-left: 10px; }
td, th                                          { padding: 10px; }
th                                              { text-align: right; font-family: 'Open Sans Bold'; }
pre, tt                                         { font-family: 'Inconsolata'; font-size: 115%;}
p.pullquote                                     { float: right; border-width: 10px 0px; border-color: #333; border-style: solid; margin: 0.5em 0em 2em 2em; padding: 0.75em 0em; font-weight: bold; font-size: 130%; font-color: black; width: 300px;}


/* #Header ================================================== */
header h1                                       { font-size: 14pt; margin-left: 0px; }
header.site                                     { padding: 0px 0px 0px 0px; margin: 20px 10px 20px 10px; border-bottom: 1px solid #BBB;}

/* #Navigation
================================================== */

nav                                             { font-family: 'Open Sans Bold'; }
nav a, nav a:visited                            { float:left; padding: 20px 10px 18px 20px; text-decoration: none; letter-spacing: 1px; color: black; display: block; }
nav a:hover, nav a:focus                        { outline: 0; color: #A7C520; }


/* #Page Styles
================================================== */

.framed                                         { border: 1px solid #AAA; margin: 5px; padding: 5px; }
.alignright                                     { float: right; }
.alignleft                                      { float: left; }
aside.widget                                    { background: #EEE; padding: 5px 0px 5px 0px; margin-bottom: 10px;}
p.note, p.notice                                { border: 2px solid #999; background: #eee; padding: 10px; }

.intro                                     { border-bottom: 1px solid #DDD; padding-top: 50px;}
.intro                          { height: 215px; padding: 0px; margin-bottom: 20px !important; }

.intro h2 { margin: 40px 0px 10px 0px; font-size: 12pt; line-height: 1em; }
.intro p                                       { font-family: 'Open Sans Regular'; padding: 0px; margin: 0px 10px 0px 0px; font-size: 12pt; }
.intro p em                                     { font-family: 'Open Sans Bold'; font-style: normal; }



/* #Page Styles: Blog
================================================== */

article.blog header .date                       { float: right; padding-right: 20px; font-size: 120%; color: gray; }
article.blog div a.button                       { margin: 0px 0px 0px 10px; }
#disqus_thread                                  { margin: 0px 10px; }
#dsq-footer                                     { display: none !important ;}

/* #Page Styles: Vitae
================================================== */

.vitae div.vevent                               { margin-top: 1em; }
.vitae div.vevent .dates                        { float: right; text-align: right; color: gray; font-weight: bold; }
.vitae div.vevent .location, 
.vitae div.vevent .dates                        { font-weight: bold; font-size: 1.15em; }
.vitae div.progress-container                   { border: 1px solid #ccc; width: 100px; margin: 2px 5px 2px 0; padding: 1px; float: left; background: white; }
.vitae div.progress-container > div             { background-color: #596f80; height: 12px }
.vitae td.alt                                   { width: 110px; }
.vitae .technologies                            { color: gray; }
.vitae div.responsibilities                     { margin: 1em 0em; }
.vitae div.education, .vitae h3, .vitae h2      { margin-top: 1em; margin-left: 10px; }
.vitae div.experience .vevent,
.vitae div.labs .vevent,
.vitae div.volunteer .vevent                    { margin-top: 2em; margin-left: 10px; }
.vitae td, .vitae th                            { padding: 3px; }


/* #Footer
================================================== */

footer                                          { margin: 40px 0px 0px 0px; padding-bottom: 10px; }
footer aside                                    { background: #EEE; margin-bottom: 20px !important; }
footer aside.one-third                          { height: 200px; }
footer aside h4                                 { margin: 20px 20px 0px 20px; }
footer aside p                                  { margin: 10px 20px; }
footer .social                                  { min-height: 40px; margin-bottom: 20px; }
footer .social h4, footer .social a             { display: block; float: left; margin: 10px 0px 10px 20px; padding: 0px; font-size: 12pt; }
footer .social h4                               { margin: 5px 10px 5px 20px; }
footer .social a                                { text-decoration: none; }
footer hr                                       { color: #FFF; width: 940px; margin: 20px 10px; }

footer div.vcard h1                                       { margin: 0px; padding: 0px; }
footer div.vcard p.vcard    {padding: 0px; margin: 0px;}
footer div.vcard h1 a                                 { background-image: url("/images/logo-vertical.png"); background-position: center center; background-repeat: no-repeat; display: block; height: 151px; width: 230px; margin-bottom: 40px; margin-left: 32px; text-indent: -9999px; }
footer div.vcard                                   { text-align:center; font-size: 12pt; line-height: 2em; margin-top: 0px; padding-top: 0px; }
footer > .vcard > .fn	          					{ font-weight: bold; }

/* #Media Queries: Netbooks
================================================== */
@media only screen and                          (max-width: 959px) {  }
@media only screen and (min-width: 768px) and   (max-width: 959px) { 

    /* Show *slightly* smaller thumbnails so we don't break the smaller grid */
    img.photo                                   { height: 117px; width: 200px; margin-left: 10px;}

    /* Remove the footer ruled line */
    footer hr                                   { width: 748px; }

}


/* #Media Queries: Tablets
================================================== */
@media only screen and                          (max-width: 767px) {

    /* Move nav links below the logo */
    header .two-thirds.column                   { clear:both; min-height: 70px; }
    nav a, nav a:visited                        { float: none; padding: 10px 12px; background-color: #eee; margin: 0px 1px; border: 1px solid #ccc; }
    nav                                         { right: auto; padding-top: 10px; }
    header.site                                 { padding-bottom: 0px; margin-bottom: 0px; }

    /* Bump up the spacing between the content area and footer */
    footer                                      { margin-top: 20px; }

    /* Remove the footer ruled line */
    footer hr                                   { display: none !important; }

    /* Make pull quotes full-width */
    p.pullquote                                 { float: left; clear: both; margin: 1em 1em 1em 10px; }

}
@media only screen and (min-width: 480px) and   (max-width: 767px) { }


/* #Media Queries: Phones
================================================== */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and                          (max-width: 479px) {

    /* Switch to the vertical logo */
    header h1 a                                 { background-image: url("/images/logo-vertical.png"); background-position: center center; background-repeat: no-repeat; display: block; height: 169px; width: 230px; margin-left: 32px; text-indent: -9999px; }

    /* Make nav links horizontal rather than vertical */
    header .two-thirds.column                   { clear:both; min-height: 245px; }
    nav li                                      { float: none; margin-bottom: 5px; }   
    nav ul, nav ul li                           { width: 100%; }
    nav                                         { right: auto; width: 100%; padding-top: 5px; }

}

/* #Media Queries: Printers
================================================== */
@media print {

    /* Hide the headers and footers */
    header.site, footer                         { display: none !important; }

}

