/*
* layout.css
* Copyright 2016-2018 Danne Stayskal <danne@stayskal.com>
* For http://danne.stayskal.com/
*
* License: Creative Commons BY-NC-SA 3.0 US
* http://creativecommons.org/licenses/by-nc-sa/3.0/us/
*/

/* Table of Contents
==================================================
    # Typography
    # Layout
    # Landing page
    # Artwork pages
    # Book pages
    # Music pages
    # Software pages
    # Vitae page
    # Writing pages
    # Media Queries
        # Netbooks and Tablets (landscape)
        # Tablets (portrait) and Phones (landscape)
        # Phones (portrait)
        # Printers
*/

/* Color Palette 
================================================== */

$red-color:                #b10837;  // Pantone 201 U
$orange-color:             #fe7b01;  // Pantone 1505 C
$yellow-color:             #f7b718;  // Pantone 14-0957 TCX
$green-color:              #93a956;  // Pantone 15-0343 TXC
$blue-color:               #007c84;  // Pantone 322 U
$purple-color:             #522d63;  // Pantone 520 C
$white-color:              #f4f4f4;  // = light-gray-color * 2
$light-gray-color:         #e6e6e6;  // Pantone 427 U
$medium-gray-color:        #959595;  // = (white-color + shadow-color) / 2
$dark-gray-color:          #4f5150;  // Pantone P 175 15-U
$shadow-color:             #313231;  // = dark-gray-color * 20 / 32

$background-color:         $light-gray-color;
$inset-color:              $white-color;
$artwork-accent-color:     $red-color;
$books-accent-color:       $orange-color;
$music-accent-color:       $yellow-color;
$software-accent-color:    $green-color;
$vitae-accent-color:       $blue-color;
$writing-accent-color:     $purple-color;
$project-accent-color:     $dark-gray-color;

/* Typography
================================================== */

body, html {
    font-family: 'Open Sans', sans-serif;
}

body {
    color: $dark-gray-color;
    // Grid paper background in CSS gradients
    background-color: #F1EFED;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0) 0px), 
                      linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0) 0px),
                      linear-gradient(rgba(0, 0, 0, 0.035) 1px, rgba(0, 0, 0, 0) 0px),
                      linear-gradient(90deg, rgba(0, 0, 0, 0.035) 1px, rgba(0, 0, 0, 0) 0px);
    background-position-x: -1px, -1px, -1px, -1px;
    background-position-y: -1px, -1px, -1px, -1px;
    background-size: 96px 96px, 96px 96px, 24px 24px, 24px 24px;
}

h1, h2, h3, time {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: normal;
}
h1 {
    font-size: 26pt;
}
h2 {
    font-size: 22pt;
    margin-top: 0px !important;
}
h3 {
    font-size: 18pt;
}

pre, code {
    font-family: 'Cutive Mono', monospace;
    font-size: 115%;
}

/* Layout
================================================== */

div.row {
    background-color: $white-color;
    border: 1px solid $medium-gray-color;
    margin-top: 20px;
}

.title h1 {
    padding: 16px;
    padding-bottom: 15px;
    background-color: $dark-gray-color;
    margin-top: 23px;
    margin-bottom: 4px;
}

.title, .title a, .title a:hover, .title h1{
    text-decoration: none;
    color: $inset-color !important;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.artwork a, a.artwork {
    color: $artwork-accent-color;
}
.books a, a.books {
    color: $books-accent-color;
}
.music a, a.music {
    color: $music-accent-color;
}
.software a, a.software {
    color: $software-accent-color;
}
.vitae a, a.vitae {
    color: $vitae-accent-color;
}
.writing a, a.writing {
    color: $writing-accent-color;
}

footer img.ligature {
    aspect-ratio: 2.14;
    height: 0.8em;
    padding: 0em 0.33em 0em 0.25em;
}

nav {
    padding: 1em 0px;
    background-color: $inset-color;
    margin-top: 20px;
    border: 1px solid $medium-gray-color;
}

nav a {
    font-size: 20pt;
    text-decoration: none;
    padding: 0em 0.5em;
}


footer {
    padding: 1em 0px 1em 0px;
    color: $light-gray-color;
    background-color: $dark-gray-color;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer  p {
    margin: 0em 1em;
}

/* Landing page
================================================== */

.landing h2, .landing p, .landing ul {
    padding: 0px 20px 20px 20px;
    margin: 0px;
}

.landing ul {
    list-style: none;
}

.landing.title h1 {
    margin-bottom: 0px;
}

.landing.project img {
    float: left;
    margin: 10px;
    padding: 0px;
}

.landing.project h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.landing.project a{
    font-weight:bold;
    color: $dark-gray-color;
}

.landing.row {
    padding-top: 1em;
}

/* Artwork pages
================================================== */

header.title h1.artwork {
    background-color: $artwork-accent-color;
}

h2.artwork {
    color: $artwork-accent-color;
}

.artwork.row h2, .artwork.row p, .artwork.row img, .artwork.row ul {
    padding-left: 20px;
}

.artwork.row h2 {
    margin-top: 20px;
}

.artwork.row img {
    padding: 20px;
}

.artwork.gallery.row img {
    padding: 20px 0px !important;
}

.artwork.gallery.row div {
    text-align: center;
}

.artwork.row p, .artwork.row ul {
    margin-bottom: 20px;
    padding: 20px;
    margin-bottom: 0px;
}

.artwork.row p:last-child {
    border-bottom: 0px;
}

/* Books pages
================================================== */

header.title h1.books {
    background-color: $books-accent-color;
}

h2.books {
    color: $books-accent-color;
}

.books.row h2, .books.row p, .books.row img, .books.row ul {
    padding-left: 20px;
}

.books.row h2 {
    margin-top: 20px;
}

.books.row img {
    padding: 20px;
}

.books.row p, .books.row ul {
    padding: 20px;
    margin-bottom: 0px;
}

/* Music pages
================================================== */

header.title h1.music {
    background-color: $music-accent-color;
}

h2.music {
    color: $music-accent-color;
}

.music.row h2, .music.row p, .music.row img, .music.row ul {
    padding-left: 20px;
}

.music.row h2 {
    margin-top: 20px;
}

.music.row img {
    padding: 20px;
}

.music.row p, .music.row ul {
    padding: 0px 20px 20px 20px;
    margin-bottom: 0px;
}

.music.row p {
}

.music.row ul {
    list-style-type: none;
    border-bottom: 20px;
    padding-bottom: 10px;
}

.music.row audio {
    margin-left: 10px;
    margin-bottom: 20px;
}

.music.player.row p {
    padding: 20px !important;
}

/* Software pages
================================================== */

header.title h1.software {
    background-color: $software-accent-color;
}

h2.software {
    color: $software-accent-color;
}

.software.row h2, .software.row p, .software.row img, .software.row ul, .software pre {
    padding-left: 20px;
}

.software.row h2 {
    margin-top: 2em;
    padding-top: 0.5em;
}

.software.row img {
    padding: 20px;
}

.software.row p, .software.row ul {
    padding: 1em;
    margin-bottom: 0px;
}

.software.row p {
    border-bottom: 20px;
    padding-top: 0em;
}

.software.row p:last-child {
    border-bottom: 0px;
}

.software.description.row p {
    border-bottom: 0px !important;
}

#legacy {
    color: $light-gray-color;
    background-color: $dark-gray-color;
    padding: 20px;
}

/* Vitae page
================================================== */

header.title h1.vitae {
    background-color: $vitae-accent-color;
}

h2.vitae {
    color: $vitae-accent-color;
}

.vitae .photo {
    text-align: left;
}
@media (min-width: 1000px) {
    .vitae .photo {
        text-align: right;
    }
}

.vitae .photo::after {
    content: "";
    clear: both;
    display: table;
}

.vitae img.profile {
    width: 290px;
    aspect-ratio: 0.54;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.vitae.row h2, .vitae.row p, .vitae.row img, .vitae.row ul {
    padding-left: 20px;
}

.vitae.row table, .vitae.row .vevent {
    margin-left: 20px;
    margin-right: 20px;
}

.vitae.row table {
    width: 90%;
}

.vitae.row .vevent {
    padding-bottom: 10px;
}

.vitae.row h2 {
    padding-top: 20px;
    margin-top: 20px;
}

.vitae.row .contact h2 {
    border-top: 0px;
    margin-bottom: 0.25em;
}

.vitae.row div.skills td.technologies {
    padding-bottom: 0.25em;
    padding-left: 1em;
}

.vitae.row h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}
.vitae.row p, .vitae.row ul {
    padding: 0px 20px 20px 20px;
    margin-bottom: 0px;
}

.vitae.row ul {
    list-style-type: none;
}

.vitae.row .progress-container { 
    border: 1px solid #ccc; 
    width: 100px; 
    margin: 2px 5px 2px 0px; 
    padding: 1px;
    float: left;
    background: white;
}

.vitae div.progress-container > div { 
    background-color: $vitae-accent-color; 
    height: 1em;
}

.vitae.row .dates {
    float: right;
    font-style: oblique;
}

.vitae.row .summary {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.vitae.row .description .responsibilities {
    margin-bottom: 1em;
}

.vitae.row .description .technologies {
    font-style: oblique;
}

/* Writing pages
================================================== */

header.title h1.writing {
    background-color: $writing-accent-color;
}

h2.writing {
    color: $writing-accent-color;
}

.writing.row h2, .writing.row p, .writing.row img, .writing.row ul, .writing.row ol {
    padding-left: 20px;
    padding-right: 20px;
}

.writing.row table, .writing.row .vevent {
    margin-left: 20px;
    margin-right: 20px;
}

.writing.row table {
    width: 100%;
}

.writing.row .date, .writing.row .attribution, .writing.row .pullright {
    font-style: oblique;
    float: right;
    margin-right: 20px;
}

.writing.row h2 {
    padding-top: 20px;
    margin-top: 20px;
}

.writing.row .lede {
    padding-top: 20px;
}

.writing.row ol.timeline {
    border-left: 4px solid $light-gray-color;
    margin-left: 20px;
    // overflow:hidden;
    list-style:none;
    position:relative;
    padding-top: 0px;
}

.writing.row ol.timeline > li:before {
    content:" ";
    width:26px;
    height:26px;
    display:block;
    background:$light-gray-color;
    position:absolute;
    left:0px;
    margin-top: 0px;
    margin-left: -15px;
    border-radius:26px;
    z-index: 5;
}

.writing.row ol.timeline > li {
    padding-left: 10px;
}

.writing.row ol.timeline p {
    padding-left: 0px;
    margin-bottom: 1em;
}

.writing.row ol.timeline time {
    font-weight: bold;
    font-variant: small-caps;
}

.writing.row ol.timeline ul {
    margin: 0px 1em 1em 1em;
    list-style: disc;
}

.writing.row ol.timeline ul li {
    margin-bottom: 0px;
}

.writing.row.burnlog-nav {
    margin-top: 20px;
}

.writing.row.burnlog-nav > div {
    text-align: center;
    font-size: 150%;
    margin: 1em auto 1em auto;
}