/*
* layout.css
* Copyright 2016 Danne Stayskal <danne@stayskal.com>
* For http://danne.stayskal.com/
*
* License: Creative Commons BY-NC-SA 3.0 US
* http://creativecommons.org/licenses/by-nc-sa/3.0/us/
*/

/* Table of Contents
==================================================
    # Typography
    # Layout
    # Landing page
    # Media Queries
        # Netbooks and Tablets (landscape)
        # Tablets (portrait) and Phones (landscape)
        # Phones (portrait)
        # Printers
*/

/* Color Palette 
================================================== */

$red-color:                #b10837;  // Pantone 201 U
$orange-color:             #fe7b01;  // Pantone 1505 C
$yellow-color:             #f7b718;  // Pantone 14-0957 TCX
$green-color:              #93a956;  // Pantone 15-0343 TXC
$blue-color:               #007c84;  // Pantone 322 U
$purple-color:             #522d63;  // Pantone 520 C
$white-color:              #f4f4f4;  // = light-gray-color * 2
$light-gray-color:         #e6e6e6;  // Pantone 427 U
$dark-gray-color:          #4f5150;  // Pantone P 175 15-U
$shadow-color:             #313231;  // = dark-gray-color * 20 / 32

$background-color:         $light-gray-color;
$inset-color:              $white-color;
$artwork-accent-color:     $red-color;
$books-accent-color:       $orange-color;
$music-accent-color:       $yellow-color;
$software-accent-color:    $green-color;
$vitae-accent-color:       $blue-color;
$writing-accent-color:     $purple-color;
$project-accent-color:     $dark-gray-color;

/* Typography
================================================== */

body {
    background-color: $light-gray-color;
    color: $dark-gray-color;
}

.container {
    background-color: $white-color;
}

h1 {
    font-size: 26pt;
}
h2 {
    font-size: 22pt;
}
h3 {
    font-size: 18pt;
}

/* Layout
================================================== */

.title h1 {
    padding: 20px;
    background-color: $dark-gray-color;
    border-top: 10px solid $light-gray-color;
    border-bottom: 10px solid $light-gray-color;
    margin-bottom: 0px;
}

.title, .title a{
    text-decoration: none;
    color: $inset-color;
}

.title a:hover{
    color: $inset-color !important;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover, {
    color: $dark-gray-color !important;
}

.artwork a, a.artwork {
    color: $artwork-accent-color;
}
.books a, a.books {
    color: $books-accent-color;
}
.music a, a.music {
    color: $music-accent-color;
}
.software a, a.software {
    color: $software-accent-color;
}
.vitae a, a.vitae {
    color: $vitae-accent-color;
}
.writing a, a.writing {
    color: $writing-accent-color;
}


nav {
    padding: 1em 0px;
    background-color: $inset-color;
    border-top: 10px solid $light-gray-color;
}

nav a {
    font-size: 20pt;
    text-decoration: none;
    padding: 0em 0.5em;
}


footer {
    padding: 1em 0px 10px 0px;
    color: $light-gray-color;
    background-color: $dark-gray-color;
    border-top: 10px solid $light-gray-color;
    border-bottom: 10px solid $light-gray-color;
}

footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

footer ul li {
    background-color: $light-gray-color;
    color: $dark-gray-color;
    margin: 10px 20px;
    padding: 10px;
    vertical-align: center;
    height: 32px;
    border-radius: 3px;
}

footer ul li a img {
    float: left;
    padding-right: 10px;
}

footer ul li a span {
    display: block;
    padding-top: 3px;
    color: $dark-gray-color;
    font-weight: bold;
}

footer .copyright p {
    padding: 1em 2em 0em 1em;
    margin-bottom: 0px;
}

footer .portfolio img {
    height: 130px;
    width: 130px;
    float: right;
    padding-right: 15px;
}

/* Landing page
================================================== */

.landing h2, .landing p, .landing ul {
    padding: 0px 20px 20px 20px;
    margin: 0px;
}

.landing ul {
    list-style: none;
}

.landing.title h1 {
    margin-bottom: 0px;
}

.landing.project img {
    float: left;
    margin: 10px;
    padding: 0px;
}

.landing.project h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.landing.project a{
    font-weight:bold;
    color: $dark-gray-color;
}

.landing.row {
    padding-top: 1em;
}

/* Artwork pages
================================================== */

header.title h1.artwork {
    background-color: $artwork-accent-color;
}

h2.artwork {
    color: $artwork-accent-color;
}

.artwork.row h2, .artwork.row p, .artwork.row img, .artwork.row ul {
    padding-left: 20px;
}

.artwork.row h2 {
    margin-top: 20px;
}

.artwork.row img {
    padding: 20px;
}

.artwork.gallery.row img {
    padding: 20px 0px !important;
}

.artwork.gallery.row div {
    text-align: center;
}

.artwork.row p, .artwork.row ul {
    border-bottom: 10px solid $light-gray-color;
    padding: 20px;
    margin-bottom: 0px;
}

/* Books pages
================================================== */

header.title h1.books {
    background-color: $books-accent-color;
}

h2.books {
    color: $books-accent-color;
}

.books.row h2, .books.row p, .books.row img, .books.row ul {
    padding-left: 20px;
}

.books.row h2 {
    margin-top: 20px;
}

.books.row img {
    padding: 20px;
}

.books.row p, .books.row ul {
    padding: 20px;
    margin-bottom: 0px;
}

/* Music pages
================================================== */

header.title h1.music {
    background-color: $music-accent-color;
}

h2.music {
    color: $music-accent-color;
}

.music.row h2, .music.row p, .music.row img, .music.row ul {
    padding-left: 20px;
}

.music.row h2 {
    margin-top: 20px;
}

.music.row img {
    padding: 20px;
}

.music.row p, .music.row ul {
    padding: 0px 20px 20px 20px;
    margin-bottom: 0px;
}

.music.row audio {
    margin-left: 10px;
    margin-bottom: 20px;
}

.music.player.row p {
    padding: 20px !important;
}
