


/* @group Imports
============================================================ */

@import url(reset.css);
@import url(font_setup.css);
@import url(font_settings.css);
@import url(color_settings.css);

/* @end */










/* @group Generic
============================================================ */



/* @group Main
------------------------------------------------------------ */

body,
input,
textarea,
input[type=checkbox] + label,
input[type=radio] + label,
blockquote p.source {
	line-height: 1.7;
}

body,
input,
textarea,
blockquote p.source {
	color: #444;
}

body {
  background: white;
}

/* @end */



/* @group Gradients
------------------------------------------------------------ */

button, a.button, 
input[type=submit],
input[type=reset],
.paginator a,
.paginator span,
.entry-content table thead tr th,
.toggler,
.box .box-header {
  background: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f1f1f1),color-stop(1, #ffffff));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1');
  text-shadow: 0 1px white;
}


/* Inverted Gradient */

.toggler.active,
.paginator .current {
  background: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #ffffff);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ffffff),color-stop(1, #f1f1f1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ffffff');
  text-shadow: 0 1px white;
}

/* @end */



/* @group Rounded Corners
------------------------------------------------------------ */


/* 3px Full */

form fieldset,
form input[type=text],
form input[type=password],
input[type=submit],
input[type=reset],
form textarea,
form select,
.entry-featured-content,
.framed,
.framed.fancy img,
.framed.fancy iframe,
.content-frame,
.box,
.box .box-header,
.note, .success, .notice, .warning, .error,
button, a.button, 
.paginator a, .paginator span,
#comments .comment,
.lightbox-image {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}


/* @end */

/* @end */










/* @group Content Elements
============================================================ */



/* @group Generic
------------------------------------------------------------ */

p, ol, ul, dl, form {
  padding-top: .5em;
  padding-bottom: .5em;
}

table, pre, blockquote,
.content-frame,
.note, .success, .notice, .warning, .error {
  margin-top: .5em;
  margin-bottom: .5em;
}

/* @end */



/* @group Headings
------------------------------------------------------------ */

h2, h3, h4, h5, h6 {
  margin-top: 1em;
  color: #222;
}

h5, h6 {
  font-size: .85em;
  font-weight: bold;
}

h2 { font-size: 2.75em; line-height: 1.3; }
h3 { font-size: 1.95em; line-height: 1.5; }
h4 { font-size: 1.38em; }

h6 {
  text-transform: uppercase;
}


/* Heading Links */

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #222;
  text-decoration: none;
}


/* Underlined Heading */

h2.underlined,
h3.underlined,
h4.underlined, 
h5.underlined,
h6.underlined {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 3px;
  margin-bottom: 3px;
}


/* @end */



/* @group Links
------------------------------------------------------------ */

a,
a.passive:hover {
  text-decoration: underline;
}

a:hover,
a.passive {
  text-decoration: none;
}

/* @end */



/* @group Lists
------------------------------------------------------------ */

ol, ul {
	list-style-position: outside;
}

ol { list-style: decimal; padding-left: 1.8em; }
ul { list-style: disc;    padding-left: 1.4em; }

li ol,
li ul { margin: 0; }

li ul { list-style: circle; }


/* Styled Lists */

ul.checklist, ul.crosslist,
ul.checklist li ul, ul.crosslist li ul {
  padding-left: 0;
}

ul.checklist li, ul.crosslist li {
  background: url(../images/list_icons.png) no-repeat;
  list-style: none;
  padding-left: 25px;
}

ul.checklist li { background-position: 3px -23px; }
ul.crosslist li { background-position: -26px 6px; }

/* @end */



/* @group Tables
------------------------------------------------------------ */

table {
	width: 100%;
}
  
caption {
  color: #666;
	font-style: italic;
	text-align: right;
}

th, td {
	vertical-align: middle;
	text-align: left;
	padding-right: 10px;
}

thead tr th,
tfoot tr td {
  font-weight: bold;
}


/* Data Table */

.entry-content table {
	border-right: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}

.entry-content table th,
.entry-content table td {
	border-top: 1px solid #d1d1d1;
	border-left: 1px solid #d1d1d1;
	padding: 5px 5px 5px 10px;
}

.entry-content table tr.alt th,
.entry-content table tr.alt td,
.entry-content table tr th.alt,
.entry-content table tr td.alt { 
  background-color: #f1f1f1; 
}

.entry-content table th {
  font-size: .85em;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.55;
  text-transform: uppercase;
}

.entry-content table thead tr th {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.entry-content table thead tr th.nobg {
  background: none !important;
  border-top: none;
  border-left: none;
  filter: 0;
}

.entry-content tfoot tr th,
.entry-content tfoot tr td {
  border-top-style: solid;
  border-top-width: 2px;
}

/* @end */



/* @group Blockquotes
------------------------------------------------------------ */

blockquote {
  background: url(../images/blockquote_bg.png) no-repeat;
  *overflow: hidden; /* IE Fix */
}

blockquote p {
  color: #555;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.2em;
  font-style: italic;
  line-height: 1.65;
	padding: 12px 0 0 34px;
}

blockquote p.source {
  font-size: .85em;
  font-style: normal;
  font-weight: bold;
  margin-top: -.7em;
  padding-bottom: 5px;
  text-align: right;
}

blockquote.alignleft, blockquote.alignright {
  float: right;
  margin: 10px 0 0 10px !important;
  width: 50%;
}

blockquote.alignleft {
  float: left;
  margin: 10px 15px 0 0 !important;
}

blockquote.alignleft p.source, 
blockquote.alignright p.source {
  text-align: left;
}

/* @end */



/* @group Forms
------------------------------------------------------------ */

form fieldset {
  margin: 0;
}

form fieldset,
form input[type=text],
form input[type=password],
form textarea,
form select {
  border: 1px solid #d1d1d1;
}

form input[type=text],
form input[type=password],
form textarea,
form select {
  padding: 4px;
}

form input[type=text],
form input[type=password] {
  line-height: 1.4;
}

form input::-webkit-input-placeholder { color: #a1a1a1; }
form input:-moz-placeholder           { color: #a1a1a1; }

form input[type=text]:focus,
form input[type=password]:focus,
form textarea:focus,
form select:focus {
  border-color: #aaa;
}

form fieldset {
  padding: 30px;
}

form fieldset legend {
  color: #666;
  font-size: .85em;
  letter-spacing: 1px;
  line-height: 1.55;
  padding: 0 5px;
  text-transform: uppercase;
}

form label,
form input,
form textarea,
form select {
  cursor: pointer;
}

form label {
  font-size: .85em;
  font-weight: bold;
}

form input[type=checkbox] + label,
form input[type=radio] + label {
  font-weight: normal;
}


/* 3 Column Form */

form.three-column-form input[type=text],
form.three-column-form input[type=password] {
  width: 182px;
}

form.three-column-form textarea {
  width: 615px;
}

body.fullwidth form.three-column-form textarea {
  width: 950px;
}

body.fullwidth form.three-column-form input[type=text],
body.fullwidth form.three-column-form input[type=password] {
  width: 286px;
}


/* jQuery Validation & AJAX Submit */

form input[type=text].invalid,
form input[type=password].invalid,
form textarea.invalid,
form select.invalid,
form input[type=text].invalid:focus,
form input[type=password].invalid:focus,
form textarea.invalid:focus,
form select.invalid:focus {
  border-color: #ff9999;
}

form .message {
  display: none;
}

form .spinner {
	background: url(../images/spinner.gif) no-repeat;
	display: none;
  font-size: 15px;
	height: 18px;
	width: 18px;
}

form span.spinner span { visibility: hidden; }

/* @end */



/* @group Misc
------------------------------------------------------------ */

b,
strong {
  font-weight: bold;
}

i,
em,
dfn,
cite,
address {
  font-style: italic;
}

tt,
pre,
kbd,
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: .85em;
}

pre {
  background: #f7f7f7;
  border: 1px solid #d1d1d1;
  display: block;
  line-height: 1.65;
	overflow: auto;
  padding: 10px;
	white-space: pre;
}

abbr,
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}

ins { text-decoration: overline; }
del { text-decoration: line-through; }

sub,
sup {
  font-size: .85em;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sub { top: 0.4em; }
sup { bottom: 0.5em; }

dt { font-weight: bold; }
dd { padding-left: 1.4em; }

:focus { outline: none; }

/* @end */

/* @end */










/* @group Custom Elements
============================================================ */



/* @group Entry
------------------------------------------------------------ */

.entry {
  margin-bottom: 55px;
}

.entry footer {
  margin-top: .7em;
}

.entry footer button,
.entry footer .button {
  margin-bottom: 10px;
}


/* Entry Featured */

.entry-featured-content {
  line-height: 0;
  margin-bottom: .7em;
}

.heading-under-featured-content .entry-featured-content {
  margin-bottom: 1em;
}

.heading-under-featured-content .entry-header h3 {
  margin-top: 0;
  padding-top: .2em;
}


/* Entry Meta */

.entry-meta,
.entry-meta a {
  color: #666;
}

.entry-meta {
  font-size: .85em;
  overflow: hidden;
}

.entry-meta .date,
.entry-meta .categories,
.entry-meta .comments {
  display: block;
  float: left;
  padding: 3px 0;
}

.entry-meta .date .content,
.entry-meta .categories .content,
.entry-meta .comments .content {
  padding: 3px 0;
}

.entry-meta .date .content {
  background-image: url(../images/entry-meta_icons.png);
  background-repeat: no-repeat;
}

.entry-meta .categories .content {
  background-image: url(../images/entry-meta_icons.png);
  background-position: -29px -27px;
  background-repeat: no-repeat;
}

.entry-meta .comments .content {
  background-image: url(../images/entry-meta_icons.png);
  background-position: -60px 2px;
  background-repeat: no-repeat;
}


/* Entry Meta with Featured Content */

.with-featured-content .entry-meta {
  margin: -3px auto -1px;
  width: 100%;
}

body.fullwidth .with-featured-content .entry-meta {
  width: 75%;
}

.with-featured-content .entry-meta .date,
.with-featured-content .entry-meta .categories,
.with-featured-content .entry-meta .comments {
  overflow: hidden;
  width: 30%;
}

.with-featured-content .entry-meta .date {
}

.with-featured-content .entry-meta .categories {
  text-align: center;
  width: 40%;
}

.with-featured-content .entry-meta .comments {
  text-align: right;
}

.with-featured-content .entry-meta .date .content {
  background-position: 25px -57px;
  padding-left: 47px;
}

.with-featured-content .entry-meta .categories .content {
  padding-left: 22px;
}

.with-featured-content .entry-meta .comments .content {
  padding-left: 22px;
  padding-right: 30px;
}


/* Entry Meta without Featured Content */

.no-featured-content .entry-meta {
  border: 1px solid #d1d1d1;
  border-left: none;
  border-right: none;
  margin: .5em 0 .7em;
  padding: 3px 0 3px 2px;
}

.no-featured-content .entry-meta .date,
.no-featured-content .entry-meta .categories,
.no-featured-content .entry-meta .comments {
  margin-right: 30px;
}

body.fullwidth .no-featured-content .entry-meta .date,
body.fullwidth .no-featured-content .entry-meta .categories,
body.fullwidth .no-featured-content .entry-meta .comments {
  margin-right: 50px;
}

.no-featured-content .entry-meta .date .content,
.no-featured-content .entry-meta .categories .content,
.no-featured-content .entry-meta .comments .content {
  padding-left: 20px;
}

.no-featured-content .entry-meta .date .content {
  background-position: 0 -57px;
}

/* @end */



/* @group Columns
------------------------------------------------------------ */

.one-half     { width: 48%; }
.one-third    { width: 30.66%; }
.two-third    { width: 65.33%; }
.one-fourth   { width: 22%; }
.three-fourth { width: 74%; }
.one-fifth    { width: 16.8%; }
.two-fifth    { width: 37.6%; }
.three-fifth  { width: 58.4%; }
.four-fifth   { width: 67.2%; }
.one-sixth    { width: 13.33%; }
.five-sixth   { width: 82.67%; }

.one-half,
.one-third,
.two-third,
.three-fourth,
.one-fourth,
.one-fifth,
.two-fifth,
.three-fifth,
.four-fifth,
.one-sixth,
.five-sixth {
  float: left;
  position: relative;
  margin-right: 4%;
}

.last {
  clear: right;
}

/* @end */



/* @group Images & Frames with Shadow
------------------------------------------------------------ */

a img {
  position: relative;
  z-index: 2;
}


/* Frame */

.framed {
  background: white;
  border: 1px solid #d1d1d1;
  display: inline-block;
  line-height: 0;
  padding: 4px;
}

.framed img {
  *display: block; /* IE Fix for too much bottom padding */
}

.framed.small {
  padding: 3px;
}


/* Fancy Frame */

.framed.fancy {  
  background-color: white;
  background-image: -moz-linear-gradient(top, #f9f9f9, #efefef);
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #efefef),color-stop(1, #f9f9f9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#efefef');
  padding: 0;
}

.framed.fancy img,
.framed.fancy iframe {
  border: 1px solid white;
  padding: 3px;
}


/* Frame Shadow */

.framed.with-shadow {
  position: relative;
}

.framed.with-shadow:before,
.framed.with-shadow:after {
  bottom: 13px;
  box-shadow:         0 15px 4px rgba(0, 0, 0, .3);
  -moz-box-shadow:    0 15px 4px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 15px 4px rgba(0, 0, 0, .3);
  content: "";
  height: 20%;
  max-width: 554px;
  position: absolute;
  width: 80%;
  z-index: -1;
}

.framed.with-shadow:before {
  left: 12px;
  -moz-transform:    rotate(-1.5deg);
  -o-transform:      rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
}

.framed.with-shadow:after {
  right: 12px;
  -moz-transform:    rotate(1.5deg);
  -o-transform:      rotate(1.5deg);
  -webkit-transform: rotate(1.5deg);
}


/* WP Caption */

.entry-content .wp-caption {
  line-height: 0;
}

.entry-content .wp-caption p {
  color: #777;
  font-size: .85em;
  line-height: 1.7;
  padding: 3px 0 0;
  text-align: center;
}


/* WP Caption inside Fancy Frame */

.entry-content .framed.fancy.wp-caption {
  padding: 6px;
}

.entry-content .framed.fancy.wp-caption img,
.entry-content .framed.fancy.wp-caption iframe {
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0;
}

/* @end */



/* @group Content Frames & Boxes
------------------------------------------------------------ */

.content-frame {
  border: 1px solid #d1d1d1;
}

.content-frame         { padding: 30px; }
.content-frame.small   { padding: 15px; }
.content-frame.smaller { padding: 10px; }

.content-frame {
  background: #f7f7f7;
  text-shadow: 0 1px white;
}

.content-frame.no-bg {
  background: none;
  text-shadow: none;
}

/* @end */



/* @group Boxes
------------------------------------------------------------ */

.box {
  border: 1px solid #d1d1d1;
}

.box .box-header,
.box .box-content  {
  padding: 5px 10px;
}

.box .box-header {
  border-bottom: 1px solid #d1d1d1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  color: #222;
  font-size: 1.2em;
}

.box.big    .box-content { padding-left: 20px; padding-right: 20px; }
.box.bigger .box-content { padding-left: 30px; padding-right: 30px; }

/* @end */



/* @group Widgets
------------------------------------------------------------ */

.widget,
.posts-widget ul li .post-date {
  color: #666;
  font-size: .93em;
}

.widget h3 {
  font-size: 1.65em;
  line-height: 1.45;
  margin: 0;
}

.widget .hr {
  background-image: url(../images/widget_hr.gif);
  background-repeat: repeat-x;
  padding: 0;
}


/* Generic */

.double-list-widget .widget-content,
.list-widget ul li:first-child a,
.social-widget ul li:first-child a,
.text-widget .widget-content,
.posts-widget .widget-content,
.contact-widget .widget-content,
.twitter-widget .widget-content {
  border-top: 1px solid #ddd;
}

.text-widget .widget-content,
.list-widget ul li a,
.double-list-widget ul li a,
.posts-widget ul li,
.contact-widget .widget-content,
.social-widget ul li a,
.twitter-widget ul li {
  border-bottom: 1px solid #ddd;
}

.list-widget ul,
.double-list-widget ul,
.posts-widget ul,
.social-widget ul,
.twitter-widget ul {
  list-style: none;
  padding: 0;
}

.double-list-widget ul,
.posts-widget ul li {
  overflow: hidden;
}

.posts-widget ul li,
.twitter-widget ul li {
  padding: 6px 0 4px;
}

.list-widget ul li a,
.double-list-widget ul li a,
.social-widget ul li a {
  color: #666;
  display: block;
  padding: 4px 3px 4px 14px;
  text-decoration: none;
}

.list-widget ul li a,
.double-list-widget ul li a {
  background: url(../images/widget_nav-list-arrow.gif) 3px 50% no-repeat;
}

.list-widget ul li a:hover,
.double-list-widget ul li a:hover,
.social-widget ul li a:hover {
  background-color: #f4f4f4;
}


/* Double-Lists */

.double-list-widget ul li {
  float: left;
  width: 50%;
}

.double-list-widget ul li a {
  font-size: .93em;
  padding-right: 2px;
}


/* Posts */

.posts-widget ul li .post-image {
  float: left;
  width: 68px;
}

.posts-widget ul li .post-content {
  padding-left: 75px;
}

.posts-widget ul li .post-content .post-title,
.posts-widget ul li .post-content .post-date {
  text-decoration: none;
}

.posts-widget ul li .post-content .post-title {
  color: #666;
  display: block;
  padding: 2px 0 3px;
  font-weight: bold;
}

.posts-widget ul li .post-content .post-date:hover {
  text-decoration: underline;
}


/* Contact */

.contact-widget .vcard .fn {
  font-weight: bold;
}

.contact-widget ul.social-icons {
  margin-bottom: 3px;
}


/* Social */

.social-widget ul li a {
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 24px;
}


/* Twitter */

.twitter-widget ul li.tweet {
  background: url(../images/widget_twitter_icon.png) left 8px no-repeat;
  padding-left: 25px;
  font-size: .95em;
  line-height: 1.6;
}

.twitter-widget ul li.tweet time {
  color: #b1b1b1;
  display: block;
  font-size: .75em;
  padding-top: 5px;
}


/* Search */

#sidebar .search-widget #searchform input[type=text] {
  width: 205px;
}

footer.main .search-widget #searchform input[type=text] {
  width: 174px;
}


/* @end */



/* @group Searchform
------------------------------------------------------------ */

#searchform form {
  overflow: hidden;
}

#searchform input[type=text],
#searchform input[type=submit] {
  float: left;
  margin-right: 0;
}

#searchform input[type=text] {
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-right: none;
  height: 26px;
  padding-top: 0;
  padding-bottom: 0;
}

#searchform input[type=text]:focus {
  border-color: #d1d1d1;
}

#searchform input[type=submit] {
  background-image: url(../images/search_button.png);
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  filter: 0;
  height: 28px;
  text-indent: -9999px;
  width: 30px;
}

/* @end */



/* @group Social Icons & Social Widget
------------------------------------------------------------ */

ul.social-icons {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}

ul.social-icons li {
  float: left;
  margin-right: 5px;
}

ul.social-icons li a {
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  text-indent: -9999px;
  width: 16px;
}

ul.social-icons li a:hover{
  opacity: .75;
}

.social-widget ul li.delicious a,
ul.social-icons li.delicious a { background-image: url(../images/social_icons/delicious.png); }

.social-widget ul li.digg a,
ul.social-icons li.digg a      { background-image: url(../images/social_icons/digg.png); }

.social-widget ul li.dopplr a,
ul.social-icons li.dopplr a    { background-image: url(../images/social_icons/dopplr.png); }

.social-widget ul li.facebook a,
ul.social-icons li.facebook a  { background-image: url(../images/social_icons/facebook.png); }

.social-widget ul li.flickr a,
ul.social-icons li.flickr a    { background-image: url(../images/social_icons/flickr.png); }

.social-widget ul li.lastfm a,
ul.social-icons li.lastfm a    { background-image: url(../images/social_icons/lastfm.png); }

.social-widget ul li.linkedin a,
ul.social-icons li.linkedin a  { background-image: url(../images/social_icons/linkedin.png); }

.social-widget ul li.posterous a,
ul.social-icons li.posterous a { background-image: url(../images/social_icons/posterous.png); }

.social-widget ul li.reddit a,
ul.social-icons li.reddit a    { background-image: url(../images/social_icons/reddit.png); }

.social-widget ul li.rss a,
ul.social-icons li.rss a       { background-image: url(../images/social_icons/rss.png); }

.social-widget ul li.stumble a,
ul.social-icons li.stumble a   { background-image: url(../images/social_icons/stumble.png); }

.social-widget ul li.tumblr a,
ul.social-icons li.tumblr a    { background-image: url(../images/social_icons/tumblr.png); }

.social-widget ul li.twitter a,
ul.social-icons li.twitter a   { background-image: url(../images/social_icons/twitter.png); }

.social-widget ul li.vimeo a,
ul.social-icons li.vimeo a     { background-image: url(../images/social_icons/vimeo.png); }

.social-widget ul li.youtube a,
ul.social-icons li.youtube a   { background-image: url(../images/social_icons/youtube.png); }

.social-widget ul li.github a,
ul.social-icons li.github a   { background-image: url(../images/social_icons/github.png); }

/* @end */



/* @group Dropcaps
------------------------------------------------------------ */

.dropcap,
.dropcap-square,
.dropcap-circle {
  display: block;
  float: left;
  font-weight: normal;
  line-height: 36px;
  margin-right: 6px;
  text-shadow: none;
}

.dropcap {
  font-size: 3.1em;
}

.dropcap-square,
.dropcap-circle {
  background: #555;
  color: white;
  margin-top: 3px;
  text-align: center;
}

.dropcap-square {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 2.3em;
  width: 36px;
}

.dropcap-circle {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  font-size: 1.78em;
  width: 36px;
}

/* @end */



/* @group Notifications
------------------------------------------------------------ */

.note, .success, .notice, .warning, .error {
  border: 1px solid;
  padding: 5px 7px;
  text-align: center;
}

.note    { background: #F7F7F7; border-color: #C1C1C1; }
.success { background: #DEE3AB; border-color: #A3C159; color: #5E6F33; }
.notice  { background: #BFE4F9; border-color: #68A2CF; color: #2E6093; }
.warning { background: #FDEBAE; border-color: #E6C555; color: #9E660D; }
.error   { background: #FFCCCC; border-color: #FF9999; color: #C31B00; }

/* @end */



/* @group Buttons, Paginator
------------------------------------------------------------ */

button,
a.button, 
input[type=submit],
input[type=reset],
.paginator a,
.paginator span {
  border: 1px solid #d1d1d1;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: .85em;
  font-weight: bold;
  line-height: 1.55;
  margin-right: 5px;
  padding: 5px 12px;
  text-decoration: none;
  text-align: center;
}

button:hover,
a.button:hover, 
input[type=submit]:hover,
input[type=reset]:hover,
.paginator a:hover,
.paginator span:hover {
  border-color: #c1c1c1;
}

button:active,
a.button:active, 
input[type=submit]:active,
input[type=reset]:active,
.paginator a:active,
.paginator span:active,
.paginator .current {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
}

.button.big    { font-size: 1.2em; padding: 5px 20px; }
.button.bigger { font-size: 1.5em; padding: 10px 30px; }

/* @end */



/* @group Paginator
------------------------------------------------------------ */

.paginator {
  display: block;
  overflow: hidden;
}

.paginator a,
.paginator span {
  border-left: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  display: block;
  float: left;
  margin-right: 0;
}

.paginator .first {
  border: 1px solid #d1d1d1;
}

.paginator .first {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
}

.paginator .last {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}

/* @end */



/* @group Toggler
------------------------------------------------------------ */

.toggler {
  margin-bottom: -1px;
  *zoom: 1; /* IE Fix */
}

.toggler.active {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .8);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, .8);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .8);
}

.toggler strong {
  background-image: url(../images/toggler_icons.gif);
  background-position: 8px -15px;
  background-repeat: no-repeat;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  display: block;
  font-weight: normal;
  padding: 4px 5px 3px 21px;
}

.toggler.active strong {
  background-position: -20px 14px;
}

.toggle-content {
  padding-left: 22px;
}

/* @end */



/* @group Comments
------------------------------------------------------------ */

#comments {
  padding: 30px 0 35px 0;
}

#comments .comment-list {
  padding-left: 0;
}

#comments .comment {
  background: white;
  border: 1px solid #d1d1d1;
  clear: both;
  list-style: none;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 20px 20px 0;
}

#comments .comment.bypostauthor,
#comments .comment.comment-author-admin {
  background: #eee;
  border-color: #c1c1c1;
  color: #222;
  text-shadow: 0 1px white;
}


/* Generic */

#comments .comment a.comment-reply-link,
#comments .comment a.comment-reply-login,
#comments .comment .main a.meta-data {
  font-size: .85em;
}


/* Gravatar */

#comments .comment .gravatar {
  line-height: 1.55;
  margin-bottom: 8px;
  text-align: center
}

#comments .comment .gravatar img {
  height: auto;
  margin-top: 3px;
  width: 100%;
}


/* Main */

#comments .comment .main cite {
  color: #222;
  font-size: 1.25em;
  font-style: normal;
  margin-right: 10px;
}


/* Content */

#comments .comment .main .content {
  margin: 5px 0 20px;
}

#comments .comment .main .content .moderation-awaited {
  font-style: italic;
  font-weight: bold;
}


/* Nested Comments */

#comments .comment ul {
  padding-left: 0;
}

#comments .comment .comment .main cite {
  font-size: 100%;
}

#comments .comment .comment .main .meta-data {
  font-size: .8em;
}


/* Comments Paginator */

#comments .comments-paginator {
  margin: 15px 0;
  text-align: center;
}

#comments .comments-paginator a {
  margin: 0 5px;
}


/* Comment Form */

/*#cancel-comment-reply-link { display: none; }*/

/* @end */



/* @group Highlights
------------------------------------------------------------ */

.highlight,
.highlight-2,
.highlight-3 { 
  padding: 1px 4px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.highlight-2 { background: #555;    color: white; }
.highlight-3 { background: #fff34d; color: black; }
.highlight-3 { 
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

/* @end */



/* @group Nivo Slider
------------------------------------------------------------ */

#topbar.nivo-slider-area .wrapper {
  position: relative;
  *padding-top: 5px; /* IE Fix to make image stay vertically centered in the frame */
}

#topbar.nivo-slider-area .wrapper .deco-frame {
  background: black;
  border: 1px solid white;
  height: 453px;
  left: 0;
  opacity: .4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
  position: absolute;
  top: 0;
  width: 958px;
}

#topbar.nivo-slider-area .deco-bottom,
.mac #topbar.nivo-slider-area .deco-bottom {
  padding: 32px 0;
}

#topbar.nivo-slider-area .deco-loading-screen {
	background: #eaeaea url(../images/spinner.gif) center center no-repeat;
	height: 445px;
	margin: 5px;
	width: 950px;
}

#topbar #nivo-slider {
  line-height: 0;
  position: relative;
}

#topbar #nivo-slider img {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
}

#topbar #nivo-slider .nivo-directionNav a {
	background: url(../images/nivo_arrows.png) no-repeat;
	border: 0;
	display: block;
	height: 34px;
	margin-top: -12px;
	top: 50%;
	text-indent: -9999px;
	width: 32px;
}

#topbar #nivo-slider a.nivo-nextNav {
	background-position: -32px 0;
	right: 10px;
}

#topbar #nivo-slider a.nivo-prevNav {
	left: 10px;
}

#topbar #nivo-slider .nivo-controlNav {
  display: none;
}

#topbar #nivo-slider .nivo-caption p {
  display: block;
  font-size: 1em;
  line-height: 1.6;
  padding: .6em;
  text-align: center;
}

#topbar.nivo-slider-area .nivo-captions {
  display: none;
}

/* @end */



/* @group Piecemaker Slider
------------------------------------------------------------ */

#topbar.piecemaker-slider-area .wrapper {
  width: 1060px; /* So animations won't get cut by overflow */
  height: 500px;
  text-align: center; /* To center images when Flash is disabled */
}

#topbar.piecemaker-slider-area .deco-bottom,
.mac #topbar.piecemaker-slider-area .deco-bottom {
  padding: 32px 0 18px;
}

/* @end */



/* @group Slides Slider
------------------------------------------------------------ */


#topbar.slides-slider-area .deco-bottom,
.mac #topbar.slides-slider-area .deco-bottom {
  padding: 12px 0 14px;
}

#topbar #slides-slider.wrapper {
  width: 990px;
}

#topbar #slides-slider .slides_container,
#topbar #slides-slider .slides_container div {
  height: 305px;
  width: 960px;
}

#topbar #slides-slider .slides_container {
  padding: 0 15px 20px;
}

#topbar #slides-slider .slides_container div {
  display: block;
  padding-top: 20px;
}

#topbar #slides-slider ul.pagination {
  clear: both;
  display: block;
  list-style: none;
  padding: 10px 0 0 10px;
  padding-left: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#topbar #slides-slider ul.pagination li {
	display: inline-block;
	/* IE Fix to make Bullets appear side by side */
	*display: inline;
	*zoom: 1;
}

#topbar #slides-slider ul.pagination li a {
	display: block;
	width: 11px;
	height: 11px;
	background: url(../images/slides_slider_bullets.png) center bottom no-repeat;
	text-indent: -9999px;
	margin: 0 3px;
}

#topbar #slides-slider ul.pagination li.current a {
	background-position: center top;
}

/* @end */



/* @group Lightbox
------------------------------------------------------------ */

.lightbox-image {
  background: url(../images/magnifier.png) center center no-repeat;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

/* @end */



/* @group Dividers, Spacers and Rulers
------------------------------------------------------------ */

.hr,
.spacer,
.divider {
  clear: both;
  display: block;
}

.hr {
  background-image: url(../images/hr.png);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 1em 0;
}

body.fullwidth .hr {
  background-image: url(../images/hr_fullwidth.png);
}

.spacer,        .hr        { height: 1em; }
.spacer.big,    .hr.big    { height: 2em; }
.spacer.bigger, .hr.bigger { height: 3em; }
.spacer.small,  .hr.small  { height: .5em; }

.hr.smaller {
  padding: 0;
}

/* @end */



/* @group Alignments, Floats and Helpers
------------------------------------------------------------ */

.alignleft  { float: left;  margin: 5px 15px 5px 0; }
.alignright { float: right; margin: 5px 0    5px 15px; }

.alignleft.small  { margin-right: 10px; }
.alignright.small { margin-left: 10px; }

.left   { text-align: left; }
.right  { text-align: right; }
.center { text-align: center; }

small,
.text.small  { font-size: .85em; }
.text.big    { font-size: 1.5em; }
.text.bigger { font-size: 2.5em; }
.text.huge   { font-size: 3.5em; }

.primary   { float: left; }
.secondary { float: right; }

.first { margin-left: 0 !important; }
.last  { margin-right: 0 !important; }

.top    { margin-top: 0;    padding-top: 0; }
.bottom { margin-bottom: 0; padding-bottom: 0; }

.quiet { color: #888; }

/* @end */

/* @end */










/* @group Layout Options
============================================================ */



/* @group Hide/Show Elements
------------------------------------------------------------ */

body.no-header-top-border header.main { border-top: none; }
body.no-footer-top-border footer.main { border-top: 1px solid #d1d1d1; }

body.no-welcomebar #welcomebar,
body.no-topbar #topbar,
body.no-footer footer.main,
body.no-footerbar #footerbar {
  display: none;
}

body.no-topbar header.main {
  margin-bottom: 0;
}

body.no-topbar.with-topbar-content #topbar { display: block; }

body.no-topbar-shine #topbar,
body.no-topbar-shine #topbar .deco-bottom { background-image: none; }
body.no-topbar-shine #topbar .deco-shine  { display: none; }

body.no-topbar.show-header-bottom-border header.main {
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

body.no-topbar.with-topbar-content.show-header-bottom-border header.main {
  border: none;
}

body.no-topbar.show-header-bottom-border #main  {
  border-top: none;
}

/* @end */



/* @group No Rounded Corners
------------------------------------------------------------ */

body.no-rounded-corners * {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

/* @end */



/* @group Minimal
------------------------------------------------------------ */

body.minimal * {
  text-shadow: none !important;
}

body.minimal #main {
  background-image: none;
}

body.minimal button,
body.minimal a.button, 
body.minimal input[type=submit],
body.minimal input[type=reset],
body.minimal .paginator a,
body.minimal .paginator span,
body.minimal .entry-content table thead tr th,
body.minimal .toggler,
body.minimal .toggler.active,
body.minimal .box .box-header,
body.minimal .paginator .current {
  background: #f1f1f1;
  filter: none;
}

body.minimal button:active,
body.minimal a.button:active, 
body.minimal input[type=submit]:active,
body.minimal input[type=reset]:active,
body.minimal .paginator a:active,
body.minimal .paginator span:active,
body.minimal .paginator .current {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: #e1e1e1;
}


/* Searchform */

body.minimal #searchform input[type=submit] {
  background-image: url(../images/minimal/search_button.png);
}


/* Entry */

body.minimal .entry-meta .date .content {
  background-image: url(../images/minimal/entry-meta_icons.png);
}

body.minimal .entry-meta .categories .content {
  background-image: url(../images/minimal/entry-meta_icons.png);
}

body.minimal .entry-meta .comments .content {
  background-image: url(../images/minimal/entry-meta_icons.png);
}


/* Images & Frames with Shadow */

body.minimal .framed.fancy {
  background: #f7f7f7;
  filter: none;
}

body.minimal .framed.fancy img,
body.minimal .framed.fancy iframe {
  border-color: #f7f7f7;
}

body.minimal .framed.with-shadow:before,
body.minimal .framed.with-shadow:after {
  display: none;
}


/* Header */

body.minimal header.main {
  background: none;
}

body.minimal header.main .wrapper {
  height: 104px;
}


/* Main */

body.minimal.no-topbar #main {
  border-top: 1px solid #d1d1d1;
}

body.minimal.show-header-bottom-border #main {
  border-top: none;
}


/* Navigation */

body.minimal.button-nav nav.main {
  border-right: 1px solid #d1d1d1;
  padding-right: 0;
}

body.minimal.button-nav nav.main,
body.minimal.button-nav nav.main > ul,
body.minimal.button-nav nav.main > ul > li > a {
  background: none;
}

body.minimal.button-nav nav.main > ul > li > a {
  border-left: 1px solid #d1d1d1;
}

body.minimal.button-nav nav.main ul li a:hover,
body.minimal.button-nav nav.main ul li.current a {
  background: #f1f1f1;
}

body.minimal.button-nav nav.main ul li a:active {
  background: #eaeaea;
}

body.minimal nav.main ul li ul li a,
body.minimal nav.main ul li.current ul li a {
  background: #f1f1f1;
  border: none;
}


/* DropDown Menu */

body.minimal nav.main ul li ul {
  border-color: #d1d1d1;
  box-shadow:         none;
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  margin-top: -1px;
  margin-left: 0;
}

body.minimal nav.main ul li ul li {
  border-color: #d1d1d1;
}

body.minimal nav.main ul li ul li a,
body.minimal nav.main ul li.current ul li a {
  background: #f1f1f1 !important;
}

body.minimal nav.main ul li ul li a:hover {
  background: #eaeaea !important;
  border: none !important;
}

body.minimal nav.main ul li.right ul li ul {
  left: -171px;
}


/* Topbar */

body.minimal #topbar {
  background-image: none;
}


/* Welcome Bar */

body.minimal #welcomebar {
  background-image: none;
  border-bottom: 1px solid #d1d1d1;
}


/* Sidebar */

body.minimal #sidebar .deco-top {
  background: url(../images/minimal/sidebar_bg.png) left top no-repeat;
}

body.minimal #sidebar .deco-center {
  background: url(../images/minimal/sidebar_bg.png) center top repeat-y;
}

body.minimal #sidebar .deco-bottom {
  background: white url(../images/minimal/sidebar_bg.png) right bottom no-repeat;
}

/* @end */



/* @group Full Width
------------------------------------------------------------ */

body.fullwidth #content {
  width: 100% !important;
}

body.fullwidth #sidebar {
  display: none;
}

/* @end */

/* @end */










/* @group Layout Structure
============================================================ */



/* @group Generic
------------------------------------------------------------ */

.wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 960px;
}

.wrapper.with-overflow {
  padding: 0 15px;
}

/* @end */



/* @group Header
------------------------------------------------------------ */

header.main {
  background: #eaeaea url(../images/header_bg.png) left bottom repeat-x;
  border-top-style: solid;
  border-top-width: 4px;
  margin-bottom: -1px;
}

header.main .wrapper {
  height: 105px;
  overflow: visible;
  position: relative;
  *z-index: 99; /* IE Fix to prevent DropDown Menu from showing behind content */
}

header.main .wrapper h1#logo {
  left: 0;
  margin: 0;
  position: absolute;
  text-indent: -9999px;
  top: 0;
}

header.main .wrapper #logo a {
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(../images/logo.png);
  display: block;
  height: 105px;
  width: 300px;
}

/* @end */



/* @group Navigation
------------------------------------------------------------ */

nav.main {
  position: absolute;
  right: 0;
  top: 0;
}

nav.main ul {
  list-style: none;
  padding: 0;
}

nav.main > ul > li {
  float: left;
}

nav.main ul li a,
nav.main ul li.current ul li a {
  color: #555;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px white;
}

nav.main > ul > li > a {
  height: 61px;
  padding-top: 43px;
}


/* Simple Navigation */

body.simple-nav > nav.main {
  margin-right: 20px;
}

body.simple-nav nav.main > ul > li > a {
  margin-left: 40px;
}



/* Button Navigation */

body.button-nav nav.main {
  background: url(../images/nav-button_bg.png) right top no-repeat;
  padding-right: 1px;
}

body.button-nav nav.main > ul {
  background: url(../images/nav-button_bg.png) -114px top no-repeat;
  overflow: hidden;
  padding-left: 2px;
}

body.button-nav nav.main > ul > li > a {
  background: url(../images/nav-button_bg.png) left top no-repeat;
  padding-left: 2px;
  text-align: center;
  width: 114px;
}

body.button-nav nav.main > ul > li > a:hover {
  background: url(../images/nav-button_bg.png) left center no-repeat;
}

body.button-nav nav.main > ul > li > a:active,
body.button-nav nav.main > ul > li.current > a {
  background: url(../images/nav-button_bg.png) left bottom no-repeat;
}


/* Superfish Auto-Arrows */

nav.main li a .sf-sub-indicator {
  display: none !important;
}

nav.main li ul li a .sf-sub-indicator {
  display: inline !important;
}


/* DropDown Menu */

nav.main ul li ul {
  border: 1px solid #adadad;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
  margin-left: -1px;
  position: absolute;
  z-index: 200;
}

/* Fix overlaping box shadow */
nav.main ul li ul li ul {
  z-index: -1;
}

body.simple-nav nav.main ul li ul {
  margin-top: -30px;
  margin-left: 40px;
}

nav.main ul li ul li {
  border-bottom: 1px solid #adadad;
  float: none;
  position: relative;
}

nav.main ul li ul li:last-child {
  border-bottom: none;
}

nav.main ul li ul li a {
  background: #e6e6e6;
  border: 1px solid white;
  border-bottom: none;
  height: auto;
  padding: 5px 5px 5px 8px;
  text-align: left;
  width: 156px;
}

body.simple-nav nav.main ul li ul li a {
  display: block;
  margin-left: 0;
}

nav.main ul li ul li a:hover {
  background: #dedede;
  border-color: #f1f1f1;
}

nav.main ul li ul li a:active {
  background: #d0d0d0;
  border-color: #bbb;
  text-shadow: 0 1px #eee;
}

nav.main ul li ul li ul {
  left: 100%;
  margin-top: -1px;
  margin-left: 0px;
  top: 0;
}

nav.main ul li.right ul li ul {
  left: -173px;
}

body.simple-nav nav.main ul li ul li ul {
  margin-top: -1px;
  margin-left: 0;
}


/* Dropdown Hover */

nav.main ul li ul,
nav.main ul li:hover ul li ul { display: none; }

nav.main ul li:hover ul,
nav.main ul li ul li:hover ul { display: block; }

/* @end */



/* @group Topbar
------------------------------------------------------------ */

#topbar {
  overflow: hidden;
  position: relative;
}

#topbar .deco-bottom {
  background: url(../images/topbar_bottom_bg.png) left bottom repeat-x;
  padding: 10px 0;
}

.mac #topbar .deco-bottom {
  padding: 12px 0 8px;
}

#topbar .deco-top-border,
#topbar .deco-bottom-border {
  background: black;
  border-bottom: 1px solid white;
  height: 4px;
  opacity: .4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#topbar .deco-bottom-border {
  border-bottom: none;
  border-top: 1px solid white;
}

#topbar .deco-shine {
  background: white;
  height: 45%;
  width: 100%;
  position: absolute;
  opacity: .1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#topbar img {
  box-shadow: 0 0 15px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .7);
}


/* Slider */

body.with-topbar-content #topbar .deco-bottom {
  background: none;
}

body.with-topbar-content #topbar .deco-shine {
  height: 50%;
}


/* Content Area */

#topbar.content-area .wrapper.with-overflow {
  padding-top: 20px;
  padding-bottom: 17px;
}

/* @end */



/* @group Punchline
------------------------------------------------------------ */

#topbar #punchline {
  font-size: 1.96em;
}

/* @end */



/* @group Welcome Bar
------------------------------------------------------------ */

#welcomebar {
  background: white url(../images/header_bg.png) left bottom repeat-x;
  padding: 18px 0 16px;
  text-align: center;
  text-shadow: 0 1px white;
}

#welcomebar h2 {
  font-size: 2.3em;
  margin: 0;
}

#welcomebar p {
  color: #666;
  font-size: 1.15em;
  padding: 0;
}

/* @end */



/* @group Main
------------------------------------------------------------ */

#main {
  background: url(../images/main-shadow.png) left 1px repeat-x;
  padding-bottom: 65px;
}

/* @end */



/* @group Content
------------------------------------------------------------ */

#content {
  float: left;
  margin-top: 20px;
}

/* @end */



/* @group Sidebar
------------------------------------------------------------ */

#sidebar {
  float: right;
  margin-top: 40px;
  width: 294px; /* To prevent Firefox from overlapping sprite image */
}

#sidebar .deco-top,
#sidebar .deco-center,
#sidebar .deco-bottom {
  position: relative;
  z-index: 0;
}

#sidebar .deco-top,
#sidebar .deco-bottom {
  height: 155px;
}

#sidebar .deco-top {
  background: url(../images/sidebar_bg.png) left top no-repeat;
}

#sidebar .deco-center {
  background: url(../images/sidebar_bg.png) center top repeat-y;
}

#sidebar .deco-bottom {
  background: white url(../images/sidebar_bg.png) right bottom no-repeat;
  margin-top: -134px; /* Double content minus value (194) - 50px for widget margin */
}

#sidebar > .deco-center > .content {
  min-height: 315px;
  padding: 0 25px;
  position: relative;
  top: -97px;
  z-index: 1;
}

#sidebar > .deco-center > .content .widget {
  margin-bottom: 40px;
  text-shadow: 0 1px white;
}

/* @end */



/* @group Footer
------------------------------------------------------------ */

footer.main {
  border-top-style: solid;
  border-top-width: 5px;
  padding-top: 40px;
}

footer.main .widget {
  margin-bottom: 40px;
}

/* @end */



/* @group Footer Bar
------------------------------------------------------------ */

#footerbar {
  background: #f7f7f7;
  border-top: 1px solid #d1d1d1;
  color: #666;
  font-size: .93em;
  padding: .8em 0;
  overflow: hidden;
  text-shadow: 0 1px white;
}


/* Social Icons */

#footerbar ul.social-icons {
  padding: 3px 0 0;
}

#footerbar .secondary ul.social-icons li {
  margin: 0 0 0 5px;
}


/* Navigation */

#footerbar nav ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

#footerbar nav ul li {
  float: left;
}

#footerbar .primary nav ul li {
  margin-right: 15px;
}

#footerbar .secondary nav ul li {
  margin-left: 15px;
}

#footerbar nav ul li a {
  text-decoration: none;
}

#footerbar nav ul li a:hover {
  text-decoration: underline;
}

/* @end */




